<!-- LATE FLIGHT -->
  <div id="late-flight">
    <div class="content-c">
      <h3 class="main-question">{{ currentNode.question.question }}</h3>
      <p>How would you check for that?</p>

      <div ng-repeat="answer in currentNode.answers">
        <div ng-click="addAnswerToCurrentAnswers(answer)" class="dIB vAT button-c">
          <div ng-if="answer.answer.indexOf('mobile') > -1">
            <button class="select-btn call">
              <div ng-include="'/assets/svgs/_call-8fea107a5456cae56a761762139cedab.html'"></div>
              <div class="checkmark">
                <div ng-include="'/assets/svgs/_sUnchecked-faf893c272990c53129a600cdcd384d5.html'"></div>
              </div>
            </button>
          </div>
          <div ng-if="answer.answer.indexOf('Park') > -1">
            <button class="select-btn parking">
              <div ng-include="'/assets/svgs/_parkingTile-475a926b2621205a47e8f3193e5daa4e.html'"></div>
              <div class="checkmark">
                <div ng-include="'/assets/svgs/_sUnchecked-faf893c272990c53129a600cdcd384d5.html'"></div>
              </div>
            </button>
          </div>
          <div ng-if="answer.answer.indexOf('reach') > -1">
            <button class="select-btn check-phone">
              <div ng-include="'/assets/svgs/_checkPhone-8de8ddc79f64b3cce391d9bb98a7d917.html'"></div>
              <div class="checkmark">
                <div ng-include="'/assets/svgs/_sUnchecked-faf893c272990c53129a600cdcd384d5.html'"></div>
              </div>
            </button>
          </div>
          <div>
            {{ answer.answer }}
          </div>
        </div>
      </div>

      <div>
        <button id="x-btn-late-flight-next" class="late-flight-next-btn" ng-click="submit()">Next</button>
      </div>

    </div>
  </div>
  <!-- END LATE FLIGHT -->
