<!-- 11. TIMER QUESTIONS -->
<div id="clock-questions">
  <!-- questions header -->
  <div class="row">
    <h3 class="main-question">How long do you usually park for?</h3>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 large-centered medium-centered small-centerd columns">
      <div id="clock-container">
        <div ng-include="'/assets/svgs/_timerquestion.html'"></div>
        <div class="next" id="timer-question" style="display:none">Next</div>
      </div>
    </div>
  </div>
</div>
<!-- END TIMER QUESTIONS -->