<!-- remove style for final template -->
<div id="successful-pickup" style="top: 202px">
	<div class="sun-bg">
	  <div ng-include="'/assets/svgs/_sunBeamBg-711d3c2a4d30057bfd389d40ec0acb7f.html'"></div>
	</div>
	<div class="content">
	  <h3>
	    You successfully picked up your passenger!
	  </h3>

	  <div class="high-five">
	    <div ng-include="'/assets/svgs/_highFive-00e56893dc1ab82f21e9df0d9ed86f6d.html'"></div>
	  </div>

	  <p>
	    Now we're going to make some guesses about your typical trip to LAX based on your game experience
	  </p>

	  <button class="red-car">
	    <div ng-include="'/assets/svgs/_redCar-9669e6673d49e9511aaa0342eb4387d5.html'"></div>
	  </button>
	</div>
</div>
