    <div id="distance-questions">
      <div id="distance-bg"></div>
      <div class="row" id="dis-row" style="text-align:center">
        <h3 class="main-question">
          {{ currentNode.question.question }}
        </h3>
      </div>

      <div ng-repeat="answer in currentNode.answers.slice().reverse()"
        ng-click="addAnswerToCurrentAnswers(answer)"
        ng-attr-id="row-{{$index + 1}}"
        class="row" data-rowid="{{$index + 1}}">
          {{answer.answer}}
      </div>

      <div class="row" id="row-6">
        <div id="confirm-btn" ng-click="submit()"><b>Next</b></div>

        <div ng-include="'/assets/svgs/tower-b80ea280759c7ce766b69d4c964b6163.html'"></div>
        <div ng-include="'/assets/svgs/laxArch-7d1948961173f5a5736b7e14fed708b1.html'"></div>

      </div>

      <div id="arrow-contents">
        <div ng-include="'/assets/svgs/distance-arrow-e4494f8217db970c220d8f52a832954e.html'"></div>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <div ng-include="'/assets/svgs/house-6b4ec7c23c79f9564969688c8e9ad435.html'"></div>
        <div ng-include="'/assets/svgs/arrow-plane-4e7378ad0e029fb6fd76b53123887d6f.html'"></div>
      </div>
  </div>
