    <div id="distance-questions">
      <div id="distance-bg"></div>
      <div class="row" id="dis-row" style="text-align:center">
        <h3 class="main-question">
          {{ currentNode.question.question }}
        </h3>
      </div>

      <div ng-repeat="answer in currentNode.answers.slice().reverse()"
        ng-click="addAnswerToCurrentAnswers(answer)"
        ng-attr-id="row-{{$index + 1}}"
        class="row" data-rowid="{{$index + 1}}">
          {{answer.answer}}
      </div>

      <div class="row" id="row-6">
        <div id="confirm-btn" ng-click="submit()"><b>Next</b></div>

        <div ng-include="'/assets/svgs/tower-a38c445e85150601ff4f85ee3fada5e1.html'"></div>
        <div ng-include="'/assets/svgs/laxArch-9876b742a0bcc6028487c2180b83ad8f.html'"></div>

      </div>

      <div id="arrow-contents">
        <div ng-include="'/assets/svgs/distance-arrow-d3408c8b4c9eb65ec6fb46d9a53d02eb.html'"></div>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <div ng-include="'/assets/svgs/house-8c11b555dfc0dd14220ff7eaa9802604.html'"></div>
        <div ng-include="'/assets/svgs/arrow-plane-85254acb6b57bd4481f26ddaf894c1c7.html'"></div>
      </div>
  </div>
