    <div id="distance-questions">
      <div id="distance-bg"></div>
      <div class="row" id="dis-row" style="text-align:center">
        <h3 class="main-question">
          {{ currentNode.question.question }}
        </h3>
      </div>

      <div ng-repeat="answer in currentNode.answers.slice().reverse()"
        ng-click="addAnswerToCurrentAnswers(answer)"
        ng-attr-id="row-{{$index + 1}}"
        class="row" data-rowid="{{$index + 1}}">
          {{answer.answer}}
      </div>

      <div class="row" id="row-6">
        <div id="confirm-btn" ng-click="submit()"><b>Next</b></div>

        <div ng-include="'/assets/svgs/tower-d3555be7c3059bc37ff4fabcda9b1f2e.html'"></div>
        <div ng-include="'/assets/svgs/laxArch-bf4ad7075df33034cc558379cc3457d9.html'"></div>

      </div>

      <div id="arrow-contents">
        <div ng-include="'/assets/svgs/distance-arrow-cd92b2c59588227d4a8889bca3204b7a.html'"></div>
        <div class="grayed-circle" id="circle-1"></div>
        <div class="grayed-circle" id="circle-2"></div>
        <div class="grayed-circle" id="circle-3"></div>
        <div class="grayed-circle" id="circle-4"></div>
        <div class="grayed-circle" id="circle-5"></div>
        <div ng-include="'/assets/svgs/house-7a756bd8426f894fd6866b6153387ced.html'"></div>
        <div ng-include="'/assets/svgs/arrow-plane-c80cbba1cb8efe2fab27b48046418a41.html'"></div>
      </div>
  </div>
