  <div id="interactive-map">
    <div class="top-half">
      <h3>What is your strategy for picking up your passenger?</h3>
    </div>

    <div class="bottom-half">
      <div style="display: inline-block; position: relative;">
        <div class="instructions">
          Choose a letter to select an approach
        </div>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn selected" data-path="yellow">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">
          
        </a>
        <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">
          
        </a>
        <div class="map-path yellow selected">
          <img alt="Map yellow" src="/images/map_yellow.jpg" width="100%" />
        </div>
        <div class="map-path green">
          <img alt="Map green" src="/images/map_green.jpg" width="100%" />
        </div>
        <div class="map-path orange">
          <img alt="Map orange" src="/images/map_orange.jpg" width="100%" />
        </div>
        <div class="map-path blue">
          <img alt="Map blue" src="/images/map_blue.jpg" width="100%" />
        </div>
      </div>
    </div>
  </div>
