<div ng-controller="NodeCtrl">
  {{ variables }}
  <div class="current-node-container" style="background-color:white">
    <div ng-if="!currentNode.is_decision_point">
      <div ng-include="'/assets/partials/question.html'"></div>
    </div>
    <div ng-if="currentNode.is_decision_point">
      <div ng-include="'/assets/partials/decision.html'"></div>
    </div>
    {{ getTemplateName(currentNode.node_id)}}
  </div>
  <div class="row">
    <div ng-include="currentTemplateName">
    </div>
  </div>
</div>
