<!-- 11. TIMER QUESTIONS -->
<div id="clock-questions">
  <!-- questions header -->
  <div class="row">
    <h3 class="main-question">{{ currentNode.question.question }}</h3>
  </div>
  <div class="row">
    <div class="large-12 medium-12 small-12 large-centered medium-centered small-centerd columns">
      <div id="clock-container">
        <div id="q-pnl">
          <div id="inner-cnr">
            <div ng-repeat="answer in currentNode.answers | orderBy:'custom_order'">
              <div ng-click="addSingleChoice(answer); landPlane()" class="large-6 medium-6 small-6 columns txt" ng-class="{btm: $index > 1}" id="{{'text-' + $index}}">
                <div class="text-test">{{ answer.answer }}</div>
              </div>
            </div>
          </div>
        </div> 
        <div ng-include="'<%= asset_path 'svgs/_timerquestion.html' %>'"></div>
        <div class="next plane-advance" id="timer-question" ng-click="submit(null, true)" >NEXT</div>
      </div>
    </div>
  </div>
  <div class="skip" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
</div>
<!-- END TIMER QUESTIONS -->
