<!-- WILLING TO WAIT -->
<h3 class="main-question">
  {{ currentNode.question.question }}
</h3>
<div id="willing-to-wait">
  <div class="content-c">
    <div class="timer-c">
      <div class="inner">
        <div class="timer-number">{{ currentTimeInterval }}</div>
        <div>Mins</div>
      </div>
    </div>
  </div>

  <div class="content-c buttons-c">
    <div>
      <button ng-click="addTimeInterval(-5)" id="x-btn-remove-wait-time" class="remove-wait-time-btn">-5 min</button>
      <button ng-click="addTimeInterval(5)" id="x-btn-add-wait-time" class="add-wait-time-btn">+5 min</button>
    </div>
    <div>
      <button id="x-btn-wait-next" ng-click="advancePlane(); submit(null, true)" class="next wait-next-btn emergency-next plane-advance">NEXT</button>
    </div>
  </div>
</div>
<!-- END WILLING TO WAIT-->
