<!-- WILLING TO WAIT -->
<div id="willing-to-wait" class="slide" data-currentnode="17" data-nextnode="14">
  <div class="content-c">
    <div class="timer-c">
      <div class="inner">
        <div class="timer-number" id="wait">5</div>
        <div>Mins</div>
      </div>
    </div>
    <h3>
      What is the longest you are willing to wait for your passenger?
    </h3>
  </div>

  <div class="content-c buttons-c">
    <div>
      <button id="x-btn-remove-wait-time" class="remove-wait-time-btn">-5 min</button>
      <button id="x-btn-add-wait-time" class="add-wait-time-btn">+5 min</button>
    </div>
    <div>
      <button id="x-btn-wait-next" class="next wait-next-btn emergency-next">Next</button>
    </div>
  </div>
</div>
<!-- END WILLING TO WAIT-->