<div class="skip" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
<!-- WILLING TO WAIT -->
<div id="willing-to-wait">
    <h3 class="main-question">
      {{ currentNode.question.question }}
    </h3>
  <div class="content-c">
    <div class="timer-c">
      <div class="inner">
        <div class="timer-number">{{ currentTimeInterval }}</div>
        <div>Mins</div>
      </div>
    </div>
  </div>

  <div class="content-c buttons-c">
    <div>
      <button ng-click="addTimeInterval(-10)" id="x-btn-remove-wait-time">-</button>
      <button ng-click="addTimeInterval(10)" id="x-btn-add-wait-time">+</button>
    </div>
    <div>
      <button id="x-btn-wait-next" ng-click="submit(null, true)" class="plane-advance next wait-next-btn emergency-next">NEXT</button>
    </div>
  </div>
</div>
<!-- END WILLING TO WAIT-->
