<div id="car-slider">
  <div class="slider-bg">
    <div id="car-start-tag">
      LAX
    </div>
    <div id="progression-bar"></div>
    <div id="car-container">
      <div ng-include="'<%= asset_path 'svgs/_car.html' %>'"></div>
    </div>
    <div id="car-end-tag">
      <div id="home-container">
        <div ng-include="'<%= asset_path 'svgs/_home.html' %>'"></div>
        <div class="row" id="end">
          FINISH
        </div>
      </div>
    </div>
  </div>
</div>
<div id="car-progress-num">{{carProgress}}</div>