  <!-- 10. START TIME SPENT -->
  <div id="time-spent">
    <div class="content-c">
      <h3>
        You have spent
      </h3>

      <div class="timer-c">
        <div class="inner">
          <div class="timer-number">{{ parkingTimeSpent }}</div>
          <div>Minutes</div>
        </div>
      </div>

      <h3>
        looking for parking
      </h3>
    </div>

    <div class="content-c">

      <h1>
        What now?
      </h1>

      <div ng-repeat="decision in currentNode.decisions" class="buttons-c">
        <button ng-click="advancePlane(); setCurrentDecision(decision)" ng-if="decision.decision.indexOf('Give') > -1" id="x-btn-give-up" class="give-up-btn plane-advance">{{ decision.decision }}</button>
        <button ng-click="advancePlane(); setCurrentDecision(decision); incrementOutcome()" ng-if="decision.decision.indexOf('Keep') > -1" id="x-btn-keep-looking" class="keep-looking-btn plane-advance">{{ decision.decision }}</button> 
      </div>
      <div class="parking-result">{{ parkingTextOutcome[parkingTextIndex] }}</div>
    </div>
  </div>
  <!-- END TIME SPENT -->
