<!-- remove style for final template -->
<div id="interactive-map">
  <div class="top-half">
    <h3>{{ currentNode.decision_point.situation }}</h3>
      </div>
   <div id="confirm-btn" ng-click="submit()"><b>Next</b></div>
      <div class="bottom-half">
        <div style="display: inline-block; position: relative;">
          <div class="instructions">
            Choose a letter to select an approach
          </div>
          <!-- temporary display of api stuff until this template is fixed: -->
          <div ng-repeat="decision in currentNode.decisions">
            <a ng-click="setCurrentDecisionNoSubmit(decision)" ng-class="x-btn-select-path select-path-btn">{{ decision.decision }}</a>
          </div>

          <a href="javascript:void(0)" class="x-btn-select-path select-path-btn selected" data-path="yellow">

          </a>
          <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="green">

          </a>
          <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="orange">

          </a>
          <a href="javascript:void(0)" class="x-btn-select-path select-path-btn" data-path="blue">

          </a>
          <div class="map-path yellow selected">
            <%= image_tag('map_yellow.jpg', width: '100%') %>
          </div>
          <div class="map-path green">
            <%= image_tag('map_green.jpg', width: '100%') %>
          </div>
          <div class="map-path orange">
            <%= image_tag('map_orange.jpg', width: '100%') %>
          </div>
          <div class="map-path blue">
            <%= image_tag('map_blue.jpg', width: '100%') %>
          </div>
        </div>
        <div ng-click="submit(currentDecision.id)">
          Let's Go!
        </div>
      </div>
    </div>
  <div>
</div>
