<!-- Pickup spinner  -->
<div id="pickup-spinner-question">

  <% unless Rails.env.production? %>
    <div class="testing-controls">
      <div ng-click="submit(findDecisionByString('Yes').id, true)" class="next spinner-continue-btn plane-advance" id="spin-pickup-win" data-result="yes">
        YES
      </div>
      <div ng-click="submit(findDecisionByString('No').id, true)" class="next spinner-continue-btn plane-advance" id="spin-pickup-lose" data-result="no">
        NO
      </div>
    </div>
  <% end %>

  <div class="chance-time">
    <h3 class="main-question">
      {{ currentNode.decision_point.situation }}
    </h3>
  </div>

  <div class="congrats" style="display:none;">
    <h3 class="main-question">Nice!</h1>
    <h3 class="main-question">Your passenger is at the curb!</h3>
    <div class="continue-btn-ctnr">
      <button ng-click="submit(findDecisionByString('Yes').id, true)" class="next spinner-continue-btn plane-advance" id="spin-pickup-win" data-result="yes">
        CONTINUE
      </button>
    </div>
  </div>

  <div class="fail" style="display:none">
    <h3 class="main-question">Dang!</h3>
    <h3 class="main-question">Our pick-up wasn't there.</h3>
    <div class="nxt-ctnr">
      <button ng-click="submit(findDecisionByString('No').id, true)" class="next spinner-continue-btn plane-advance" id="spin-pickup-lose" data-result="no">
        NEXT
      </button>
    </div>
  </div>

  <div class="btn-ctnr">
    <button class="spin-button" id="pickup">
      TEST YOUR LUCK
    </button> 
  </div>


  <div class="spinner-components">
    <div class="row">
      <div class="large-7 medium-8 small-12 large-centered medium-centered small-centered columns">
        <div style="width: 100%; padding-bottom: 50%; padding-left: 2%">
          <div style="width: 100%; position: absolute; z-index: 3">
            <div class="row" style="padding: 0">
              <div class="large-4 medium-4 small-4 large-centered medium-centered small-centered columns" style="padding-left: 0">
                <div style="width: 100%; padding-bottom: 10%;">
                  <div id="wheel-pointer" style="padding-right: 25%; padding-left: 10%">
                    <div ng-include="'<%= asset_path 'svgs/_wheelPointer.html' %>'"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="position: relative; z-index: 1; width: 100%; padding-top: 4%; margin: 0">
            <div class="wheel" id="num-2">
              <div ng-include="'<%= asset_path 'svgs/_pickupWheel.html' %>'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-5 medium-5 small-9 columns large-centered medium-centered small-centered columns">
      <div class="trophey" style="display: none">
        <div ng-include="'<%= asset_path 'svgs/_pickupTrophy.html' %>'"></div>
      </div>
      <div class="failed-spin" style="display: none">
        <div ng-include="'<%= asset_path 'svgs/_missingPassenger.html' %>'"></div>
      </div>
    </div>
  </div>

  <!-- pickup logic -->
  <div id="pickup-chance" data-outcome=1></div>
</div>
  <!-- end pickup spinner
