<!-- Parking spinner -->
<div id="parking-spinner-questions">
    <div class="testing-controls">
      <div ng-click="submit(findDecisionByString('Not Full').id, true)" class="next spinner-continue-btn" id="spin-pickup-win" data-result="yes">
        Not Full
      </div>
      <div ng-click="submit(findDecisionByString('Full').id, true)" class="next spinner-continue-btn" id="spin-pickup-lose" data-result="no">
        Full
      </div>
    </div>
  <div class="chance-time">
    <h1>Chance Time!</h1>
    <h3 class="main-question">
      {{ currentNode.decision_point.situation }}
    </h3>
  </div>

  <div class="congrats" style="display:none;">
    <h1>Congratulations!</h1>
    <h3 class="main-question">You got a parking spot!</h3>
    <div ng-click="submit(findDecisionByString('Not Full').id, true)" class="next" id="spin-parking-win">
      Continue
    </div>
  </div>

  <div class="fail" style="display:none">
    <h1 style="color: white; text-align: center;">Dang!</h1>
    <h3 class="main-question">The parking lot is full.</h3>
    <div ng-click="submit(findDecisionByString('Full').id, true)" class="next" id="spin-parking-lose">
      Continue
    </div>
  </div>

  <div class="spin-button" id="parking">
    Spin
  </div>

  <div class="spinner-components">
    <div class="row">
      <div class="large-7 medium-8 small-12 large-centered medium-centered small-centered columns">
        <div style="width: 100%; padding-bottom: 50%; padding-left: 2%">
          <div style="width: 100%; position: absolute; z-index: 3">
            <div class="row" style="padding: 0">
              <div class="large-4 medium-4 small-4 large-centered medium-centered small-centered columns" style="padding-left: 0">
                <div style="width: 100%; padding-bottom: 10%;">
                  <div id="wheel-pointer" style="padding-right: 25%; padding-left: 10%">
                    <div ng-include="'<%= asset_path 'svgs/_wheelPointer.html' %>'"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="position: relative; z-index: 1; width: 100%; padding-top: 4%; margin: 0">
            <div class="wheel" id="num-1">
              <div ng-include="'<%= asset_path 'svgs/_parkingWheel.html' %>'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-5 medium-5 small-9 columns large-centered medium-centered small-centered columns">
      <div class="trophey" style="display: none">
        <div ng-include="'<%= asset_path 'svgs/_parkingTrophy.html' %>'"></div>
      </div>
      <div class="failed-spin" style="display: none">
        <div ng-include="'<%= asset_path 'svgs/_noParking.html' %>'"></div>
      </div>
    </div>
  </div>
  <!-- spinner logic -->
  <div id="parking-chance" data-outcome=1></div>
</div>
<!-- end parking spinner
