<!-- remove style for final template -->
<div id="successful-pickup">
	<div class="sun-bg">
	  <div ng-include="'<%= asset_path 'svgs/_sunBeamBg.html' %>'"></div>
	</div>
	<div class="content">
	  <h3>
	    You successfully picked up your passenger!
	  </h3>

	  <div class="high-five">
	    <div ng-include="'<%= asset_path 'svgs/_highFive.html' %>'"></div>
	  </div>

	  <p>
	    Now we're going to make some guesses about your typical trip to LAX based on your game experience
	  </p>

	  <button class="red-car">
	    <div ng-click="delaySubmit()" ng-include="'<%= asset_path 'svgs/_redCar.html' %>'"></div>
	  </button>
	</div>
</div>
