<!-- remove style for final template -->
<div id="successful-pickup">
	<div class="sun-bg">
	  <div ng-include="'<%= asset_path 'svgs/_sunBeamBg.html' %>'"></div>
	</div>
	<div class="content">
	  <h3>
	    You successfully picked up your passenger!
	  </h3>

	  <div class="high-five">
	    <div ng-include="'<%= asset_path 'svgs/_highFive.html' %>'"></div>
	  </div>

	  <div class="calculate">
	  	Now we're going to make some guesses about your typical trip to LAX based on your game experience
	  </div>

	  <div class="btn-cntr">
	  	<button class="red-car" ng-click="submit()">NEXT</button>
	  </div>
	</div>
</div>
