<div class="skip" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
<!-- 13. CIRCLE PICKUP QUESTIONS -->
<div id="circle-pickup">
  <div class="content">
    <h3 class="main-question">
      You would have circled LAX:
    </h3>

    <div class="content-c">
      <div class="count-c">
        <div class="circle-number">{{ variables.times_circled }}</div>
        <div>times</div>
      </div>
      <div class="red-circle">
        <div class="circle-car">
          <div ng-include="'<%= asset_path 'svgs/_blueCircleCar.html' %>'"></div>
        </div>
        <div class="outer-container">
          <div class="inner-circle">
          </div>
        </div>
      </div>
    </div>

    <div class="content-c buttons-c">
      <div class="inner-question">
        How many times do you typically circle around LAX when picking up somebody?
      </div>

      <div>
         <button ng-click="addTimesCircled(-1)" id="x-btn-circle-less" class="counter-btn">-</button>
         <button ng-click="addTimesCircled(1)" id="x-btn-circle-more" class="counter-btn">+</button>
      </div>
      <div id>
        <button ng-click="submit()" id="x-btn-circle-next">NEXT</button>
      </div>
    </div>
  </div>
</div>
<!-- END CIRCLE PICKUP QUESTIONS -->

<div id="car-slider">
  <div style="height: 50px; width: 100%; background-color: #ABD9F4; margin-top: 15px">
    <div id="car-start-tag">
      LAX
    </div>
    <div id="progression-bar"></div>
    <div id="car-container">
      <div ng-include="'<%= asset_path 'svgs/_car.html' %>'"></div>
    </div>
    <div id="car-end-tag">
      <div id="home-container">
        <div ng-include="'<%= asset_path 'svgs/_home.html' %>'"></div>
        <div class="row" id="end">
          FINISH
        </div>
      </div>
    </div>
  </div>
</div>
