<!-- 13. CIRCLE PICKUP QUESTIONS -->
<div id="circle-pickup">
  <div class="content">
    <h3 class="main-question">
      In this game, you would have circled LAX:
    </h3>

    <div class="content-c">
      <div class="count-c">
        <div class="circle-number" ng-if="adjustedTimesCircled === 0">0</div>
        <div class="circle-number" ng-if="adjustedTimesCircled !== 0">{{ adjustedTimesCircled || variables.times_circled }}</div>
        <div>times</div>
      </div>
      <div class="red-circle">
        <div class="circle-car">
          <div ng-include="'<%= asset_path 'svgs/_blueCircleCar.html' %>'"></div>
        </div>
        <div class="outer-container">
          <div class="inner-circle">
          </div>
        </div>
      </div>
    </div>

    <div class="content-c buttons-c">
      <div class="inner-question">
        How many times do you typically circle around LAX when picking up somebody?
      </div>
      <div>
         <button ng-click="addTimesCircled(-1)" id="x-btn-circle-less" class="counter-btn">-</button>
         <button ng-click="addTimesCircled(1)" id="x-btn-circle-more" class="counter-btn">+</button>
      </div>
      <div>
        <button ng-click="submit(); advanceCar()" id="x-btn-circle-next" class="car-progress">NEXT</button>
      </div>
    </div>
  </div>
</div>
<!-- END CIRCLE PICKUP QUESTIONS -->

