<div class="skip" ng-click="submit()" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
<!-- 14. TIMER PICKUP QUESTIONS -->
<div id="timer-pickup">
  <div class="content">
    <div class="content-c">
      <div class="sudo-header">You would have spent:</div>
      <div class="timer-c">
        <div ng-if="!adjustedTimeElapsed && adjustedTimeElapsed != 0">
          <div class="timer-number" id="min">{{ variables.time_elapsed }}</div>
        </div>
        <div ng-if="adjustedTimeElapsed != undefined">
          <div class="timer-number" id="min">{{ adjustedTimeElapsed }}</div>
        </div>
        <div>min</div>
      </div>
      <div class="bottom-question">Picking up your passenger at LAX</div>
    </div>

    <div class="content-c buttons-c">
      <div class="inner-question" id="how-long">
        How long does it typically take you to pick up your passenger at LAX?
      </div>
      <div>
         <button ng-click="addTimeElapsed(-5)" id="x-btn-timer-less" class="counter-btn">-</button>
         <button ng-click="addTimeElapsed(5)" id="x-btn-timer-more" class="counter-btn">+</button> 
      </div>
      <div>
<!--         <div ng-if="!adjustedTimeElapsed">
          <div ng-click="submit(); advanceCar()" id="x-btn-timer-next" class="car-progress">NEXT</div>
        </div>
        <div ng-if="adjustedTimeElapsed"> -->
        <div ng-click="submit(); advanceCar()" id="x-btn-timer-next" class="car-progress">NEXT</div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- END TIMER PICKUP QUESTIONS -->


