<div id="last-question-set">
  <h3 class="main-question">{{ currentNode.question.question }}</h3>
  <div id="question-set-1">

    <div ng-repeat="answer in currentNode.answers">
      <div class="btn-wrapper">
        <div ng-if="answer.answer.indexOf('Specify') === -1">
          <button
            class="question-1-btn car-progress"
            ng-click="immediateSubmitAnswer(answer); advanceCar(); advancePlane()">
            {{ answer.answer }}
          </button>
        </div>
        <div ng-if="answer.answer.indexOf('Specify') > -1">
          <button
            class="question-1-btn-other"
            ng-click="addAnswerToCurrentAnswers(answer)">
            {{ answer.answer }}
          </button>
        </div>
      </div>
    </div>

    <div class="free-form-popup">
      <div class="free-form-bg">
        <textarea
          id="other-info-last-questions"
          cols="1"
          rows="5"
          maxlength="140"
          placeholder="Please write here."
          ng-model="currentOther.text"
          ng-change="determineOtherText(currentOther.text, currentAnswers[0].id)">
        </textarea>
        <div class="flextainer">
          <div class="item-1">
            <div id="char-count-last-questions" style="color: #B2C4D4"></div>
          </div>
          <div class="item-2">
            <button class="other-btn car-progress" id="last-other-save" ng-click="submit(null, true); advanceCar(); advancePlane()">
              Save
            </button>
          </div>
          <div class="item-3">
            <button class="other-btn" id="last-other-cancel" ng-click="resetCurrentOther()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


