<div id="last-question-set">
  <h3 class="main-question">{{ currentNode.question.question }}</h3>
  <div id="question-set-2">
      <div ng-repeat="answer in currentNode.answers">
        <div class="btn-wrapper">
          <button 
            class="question-2-btn car-progress" 
            ng-click="immediateSubmitAnswer(answer, false); advanceCar()">
            {{ answer.answer }}
          </button>  
        </div>
      </div>
  </div>
</div>

