<div id="last-question-set">
  <!-- set 2 -->
  <div id="question-set-2">
    <div class="large-8 medium-8 small-12 larger-centered medium-centered small-centered columns">
      <h3 class="main-question">{{ currentNode.question.question }}</h3>
    </div>

    <div ng-repeat="answer in currentNode.answers">
      <div class="row" style="margin-bottom: 1.5%; margin-top: 3%">
        <div class="large-6 medium-6 small-9 large-centered medium-centered small-centered columns last-questions">
          <div class="question-wrapper-2" ng-click="immediateSubmitAnswer(answer, false)">
            <div class="question-text-2" ng-id="{{ 'q' + $index + '-2' }}">
              {{ answer.answer }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end set 2 -->
<!--   <h3 class="main-question">{{ currentNode.question.question }}</h3>

  <div class="large-8 medium-8 small-8 columns">
    div.an
  </div> -->

</div>

<!-- <div id="car-slider">
  <div style="height: 50px; width: 100%; background-color: #ABD9F4; margin-top: 15px">
    <div id="car-start-tag">
      LAX
    </div>
    <div id="progression-bar"></div>
    <div id="car-container">
      <div ng-include="'<%= asset_path 'svgs/_car.html' %>'"></div>
    </div>
    <div id="car-end-tag">
      <div id="home-container">
        <div ng-include="'<%= asset_path 'svgs/_home.html' %>'"></div>
        <div class="row" id="end">
          FINISH
        </div>
      </div>
    </div>
  </div>
</div> -->
