<div id="last-question-set">
  <h3 class="main-question">{{ currentNode.question.question }}</h3>
  <div id="question-set-3">
    <div class="btn-wrapper">
        <button 
          ng-repeat="answer in currentNode.answers" id="btn-{{$index}}" 
          class="question-3-btn" 
          ng-click="addAnswerToCurrentAnswers(answer)">
          {{ answer.answer }}
        </button>
    </div>
    <div class="finish-wrapper">
      <button class="finish-lawa car-progress" ng-click="delaySubmit(null, false); advanceCar(); advancePlane()">FINISH</button>  
    </div>    
  </div>
</div>
