<!-- CONGRATS OVERLAYS -->
<div id="share-story-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="icon-c" style="height: 25px; width: 25px; display: inline-block; vertical-align: middle;"><div ng-include="'<%= asset_path 'congratsStoryBubble' %>'"></div></div>
      <div class="title-text-c">Tell us about your best or worst experience. Anything goes.</div>
      <div class="close-btn-c">
        <button id="x-btn-close-story-overlay" class="close-story-overlay-btn">x</button>
      </div>
    </div>
    <div>
      <textarea id="story-text" placeholder="Write your story here"></textarea>
    </div>
    <div>
      <button id="x-btn-submit-story" class="submit-story-btn">Send</button>
    </div>
  </div>
</div>

<div id="congrats-share-overlay">
  <div class="inner">
    <div class="top-section">
      <div class="title-text-c">
        Share your pickup skills
      </div>
      <div class="close-btn-c">
        <button id="x-btn-close-share-overlay" class="close-share-overlay-btn">x</button>
      </div>
    </div>

    <div class="share-url">
      http://dfdsfgsdfgdfgsdfg.com/asdfsdfsdf
    </div>

    <div class="share-btns-c btcf">
      <button id="x-btn-twitter-share" class="twitter-share-btn">Share on Twitter</button>
      <button id="x-btn-facebook-share" class="facebook-share-btn">Share on Facebook</button>
    </div>
  </div>
</div>
<!-- END CONGRATS OVERLAYS -->