
<div id="strategy-questions">




  <div class="row" style="text-align: center;">
    <h3 class="main-question">Why do you choose this strategy?</h3>
    <h5 class="sub-header">Select all that apply</h5>
  </div>

  <div id="large-strategy">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div class="bubble-icon-container" id="container-1">
              <div ng-include="'<%= asset_path 'svgs/strategy-stop-watch.html' %>'"></div>
      
              <div class="strategy-answer" id="stopwatch-answer">
                To get in and out of the airport as quickly as possible
              </div>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="bubble-icon-container" id="container-2">
            <div ng-include="'<%= asset_path 'example/grayParking.html' %>'"></div>
              
              <div class="strategy-answer" id="parking-answer">
                To avoid paying for parking
              </div>
            </div>




</div>
 
