<div class="skip" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div> 

<div id="rail-system">
  <div class="rail-bg">
    <div class="row">
      <div class="rail-car-svg" ng-include="'<%= asset_path 'svgs/_railCar.html' %>'"></div>
    </div>
    <div class="row">
      <p>
        To avoid all of this, we're trying to build an airport rail system that would make it easy for a passenger to meet you at a nearby location outside of the airport!
      </p>
      <p class="question">
        In the real world, would you consider picking up passengers at this new location for a better experience? 
      </p>  
    </div>
    <div class="row">
      <div class="large-6 medium-6 small-6 columns">
        <div class="rail-answer">
          <div class="rail-answer-font yes">
            YES
          </div>
          <div ng-click="submit(findDecisionByString('Yes').id)" id="x-btn-upvote" ng-include="'<%= asset_path 'svgs/_thumbsDown.html' %>'"></div>
        </div>
      </div>  
      <div class="large-6 medium-6 small-6 columns">
        <div class="rail-answer">
          <div class="rail-answer-font">
            NO
          </div>
          <div class="thumbs-down" ng-click="submit(findDecisionByString('No').id)" id="x-btn-downvote" ng-include="'<%= asset_path 'svgs/_thumbsUp.html' %>'"></div>
        </div>
      </div>
    </div>
  </div>
</div>