<div id="rail-system">
    <div class="stage-1">
      <div class="question-bubble">
        <div class="rail-car">
          <div ng-include="'<%= asset_path 'svgs/_railCar.html' %>'"></div>
        </div>
        <p>
          {{ currentNode.question.question }}
        </p>
      </div>
      <div ng-click="submit()"  id="x-btn-rail-system-next">NEXT</div>

    </div>
</div>

