<div class="skip" ng-include="'<%= asset_path 'svgs/_skipbutton.html' %>'"></div>
<!-- 15. RAIL SYSTEM QUESTIONS -->
<!-- <div id="rail-system">
    <div class="stage-1">
      <div class="question-bubble">
        <div class="rail-car">
          <div ng-include="'<%= asset_path 'svgs/_railCar.html' %>'"></div>
        </div>

        <p>
          {{ currentNode.question.question }}
        </p>
      </div>
      <button ng-click="submit()" id="x-btn-rail-system-next">NEXT</button>

    </div>
</div> -->
<!-- END RAIL SYSTEM QUESTIONS -->


<div id="rail-system">
  <div class="rail-bg">
    <div class="row">
      <div class="rail-car-svg" ng-include="'<%= asset_path 'svgs/_railCar.html' %>'"></div>
    </div>
    <div class="row">
      <p class="question">
        {{ currentNode.question.question }}
      </p>  
    </div>
    <div class="row">
      <div ng-click="submit()"  id="x-btn-rail-system-next" style="margin-bottom: 2%;">NEXT</div>
    </div>
  </div>
</div>