<div id="splash-page">
  <div class="splash-header">
    Can you beat LAX traffic like a boss?
    <div class="sub-header">
      Help improve LAX by playing with this experimental survey!
    </div>
  </div>
  <div class="lax-start-cntr">
    <button ng-click="submit()">START</button>
    <div class="optimized">
      *Optmized for newer and larger screen devices
    </div>
  </div>
  <div class="splash-ctnr">
  	<div ng-include="'<%= asset_path 'svgs/_splashPage.html' %>'"></div> 
  </div>
</div>
