<div class="template-question">
  Can you beat LAX traffic like a boss?
  <div class="sub-header">
    Help develop LAX by answering this survey!
  </div>
</div>
<div id="lax-start-cntr">
  <button ng-click="submit()">START</button>
</div>
<div id="splash-page">
  <div class="row" style="text-align: center; margin-top: 3%">
  </div>
  <div class="splash-ctnr">
  	<div ng-include="'<%= asset_path 'svgs/_splashPage.html' %>'"></div> 
  </div>
</div>
