<div id="splash-page">
  <div class="row" style="text-align: center; margin-top: 3%">
    <h2>Can you beat LAX traffic <span>like a boss?</span></h2>
    <h4>Take this survey to improve LAX!</h4>
    <div class="btn-ctnr">
    	<div class="start-btn" ng-click="submit()">START</div>
    </div>
    <!-- <div id="start-button" ng-click="submit()" class="emergency-next">START</div> -->
  </div>
  <div class="splash-ctnr">
  	<div ng-include="'<%= asset_path 'svgs/_splashPage.html' %>'"></div> 
  </div>
</div>
