<div id="splash-page">
  <div class="row" style="text-align: center; margin-top: 3%">
    <h2>Are you an LAX <span>Pick Up Artist?</span></h2>
    <div id="start-button" ng-click="submit()" class="emergency-next">Start</div>
  </div>
  <div ng-include="'<%= asset_path 'svgs/_splashPage.html' %>'" id="splash-page-container">
  </div>
</div>
