<div id="zip-code-template">
  <div class="row">
    <h3 class="main-question">
      <!-- What is your zip code? -->
      {{ currentNode.question.question }}
    </h3>
  </div>
  <div class="row">
    <div class="ferrari-container">
      <div ng-include="'<%= asset_path 'svgs/_ferrari.html' %>'"></div>
      <div class="zip-container">
        <div class="text-container">
          <textarea id="zip-input" cols="1" rows="1" maxlength="5"></textarea>
          <div class="zip-next" ng-click="delaySubmit(null, false); setShowDashboard(true)">Next</div>
        </div>
      </div>
    </div>
  </div>
</div>

