<div class="show-for-landscape">
	<div id="other-landscape">
		<div id="other-button-landscape">
  			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 125 125" enable-background="new 0 0 125 125" xml:space="preserve"><g><path id="other-background" fill="#AA75D3" d="M124 115.112c0 7.311-5.038 9.888-12.631 9.888H12.495C4.902 125 0 122.4 0 115.112v-98.96 C0 8.8 4.9 0 12.5 0h98.874C118.962 0 124 8.8 124 16.152V115.112z"/><path id="other-shadow" fill="#9663C6" d="M91.762 43.107l32.731 28.438v37.16c0 0 0.7 16.045-13.13 16.045h-44.17L33.052 92.78l19.1-7.443 L91.762 43.107z"/><g><polygon fill="none" points="44.2,79.6 48.7,84.3 49.7,83.3 45.2,78.6"/><path fill="#FFFFFF" d="M41.271 76.447l0.051-0.098L41.271 76.447z"/><polygon fill="#FFFFFF" points="80.8,35.2 42,75.3 45.2,78.6 84,38.5"/><polygon fill="#FFFFFF" points="52.9,86.9 53,86.9 52.8,86.7 91.8,46.5 89.2,43.8 50.3,84"/><polygon fill="#FFFFFF" points="46.5,79.9 49,82.7 87.9,42.5 85.3,39.8"/><g><polygon fill="#FFFFFF" points="33.1,96.2 37.6,94.2 34.9,91.5"/><polygon fill="#FFFFFF" points="36.9,86.5 35.5,90 39,93.7 42.3,92.2 52.2,87.8 48.7,84.3 48.2,84.9 48.7,84.3 44.2,79.6 43.7,80.2 44.2,79.6 41.3,76.3"/></g></g></g></svg>
  		</div>
	</div>
</div>
<div class="show-for-portrait">
	<div id="other">
		<div id="other-button">
  			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="125px" height="125px" viewBox="0 0 125 125" enable-background="new 0 0 125 125" xml:space="preserve"><g><path id="other-background" fill="#AA75D3" d="M124 115.112c0 7.311-5.038 9.888-12.631 9.888H12.495C4.902 125 0 122.4 0 115.112v-98.96 C0 8.8 4.9 0 12.5 0h98.874C118.962 0 124 8.8 124 16.152V115.112z"/><path id="other-shadow" fill="#9663C6" d="M91.762 43.107l32.731 28.438v37.16c0 0 0.7 16.045-13.13 16.045h-44.17L33.052 92.78l19.1-7.443 L91.762 43.107z"/><g><polygon fill="none" points="44.2,79.6 48.7,84.3 49.7,83.3 45.2,78.6"/><path fill="#FFFFFF" d="M41.271 76.447l0.051-0.098L41.271 76.447z"/><polygon fill="#FFFFFF" points="80.8,35.2 42,75.3 45.2,78.6 84,38.5"/><polygon fill="#FFFFFF" points="52.9,86.9 53,86.9 52.8,86.7 91.8,46.5 89.2,43.8 50.3,84"/><polygon fill="#FFFFFF" points="46.5,79.9 49,82.7 87.9,42.5 85.3,39.8"/><g><polygon fill="#FFFFFF" points="33.1,96.2 37.6,94.2 34.9,91.5"/><polygon fill="#FFFFFF" points="36.9,86.5 35.5,90 39,93.7 42.3,92.2 52.2,87.8 48.7,84.3 48.2,84.9 48.7,84.3 44.2,79.6 43.7,80.2 44.2,79.6 41.3,76.3"/></g></g></g></svg>
  		</div>
	</div>
</div>




