<!-- <div ng-app='app.exampleApp' ng-controller='ExampleCtrl'> -->
  <!-- <div class="quiz" ng-show="quizRunning"> -->
    
        
            













          <div class="row">
            <div class="large-4 medium-4 small-8 large-centered medium-centered small-centered columns" style="text-align: center">
              <button id="land">LAND ZE PLANE</button>
            </div>
          </div>
              
        

            





            <!-- <ul ng-repeat="q in surveyQuestions"> -->
        
            <!-- <div ng-show="currentQuestion === q.id">
              <h3>{{ q.question }}</h3>
              <ul>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_1 }}</a></li>
                <li><a href="#" ng-click="advanceQuestion(q.id)">{{ q.answer_2 }}</a></li>
              </ul>
            </div> -->
     
            <!-- </ul> -->

            <!-- <div class="summary" ng-hide="quizRunning"> -->
            <!-- <p>You have finished the quiz.</p> -->
            <!-- <p><a href="#" ng-click="restartQuiz()">Retry?</a> -->
 
        
   

 
          
   

  <!-- PARKING LOT -->
  <div id="parking-lot">
    <div id="lines">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="1260px" height="360px" viewBox="0 0 1260 360" enable-background="new 0 0 1260 360" xml:space="preserve"><g><polygon fill="#DAF2DC" points="1185,125.1 1185,131.6 1011.4,26.1 1014.1,24.2"/><polygon fill="#DAF2DC" points="94.6,163.5 465.3,34.3 472.9,39.5 125.1,161.9"/><polygon fill="#DAF2DC" points="462.5,34 668.6,39.1 666.3,42.4 456.3,38.2"/><polygon fill="#DAF2DC" points="156.8,144.7 417.6,147.3 414.8,150.6 149,149"/><polygon fill="#DAF2DC" points="302.4,96.8 498.6,101.6 496.4,104.9 296.5,101"/><polygon fill="#DAF2DC" points="83.1,193.7 355.4,198.8 352.3,202.1 75,197.9"/><polygon fill="#DAF2DC" points="384.9,64 591,69.2 588.7,72.4 378.7,68.2"/><polygon fill="#DAF2DC" points="1098.9,78.1 931.3,78.1 922,74.1 1098.9,74.1"/><polygon fill="#DAF2DC" points="1016.9,27.4 865.4,27.4 857.4,24.2 1016.9,24.2"/><polygon fill="#DAF2DC" points="1185,132.3 984.1,132.3 972.9,128.3 1185,128.3"/></g><g><polygon fill="#FFFFFF" points="116.1,77.3 105.7,87.7 105.7,102.9 116.7,113.3 131.5,113.3 141.7,102.7 141.7,87.2 131.6,77.3"/><polygon fill="#FF3333" points="116.8,78.8 107.2,88.3 107.2,102.2 117.3,111.8 130.9,111.8 140.2,102.1 140.2,87.9 131,78.8"/><rect x="113.2" y="88.3" fill="none" width="25.4" height="22"/><text transform="matrix(1 0 0 1 113.2119 101.0713)" fill="#FFFFFF" font-family="'BebasNeue'" font-size="15.031">STOP</text><circle fill="#FFFFFF" cx="124" cy="80.6" r="0.8"/><circle fill="#FFFFFF" cx="124" cy="110.3" r="0.8"/><rect x="122.1" y="113.3" fill="#BFB588" width="3.8" height="72.6"/></g></svg>
    </div>
    <div id="cars">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" width="1260px" height="360px" viewBox="0 0 1260 360" enable-background="new 0 0 1260 360" xml:space="preserve"><g><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M1058.938 116.3 c-3.24 4.87-1.918 11.4 3 14.678c4.871 3.2 11.4 1.9 14.686-2.958c3.232-4.868 1.918-11.439-2.961-14.675 C1068.745 110.1 1062.2 111.4 1058.9 116.271z"/><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M976.374 112.8 c-3.242 4.87-1.918 11.4 2.9 14.681c4.871 3.2 11.4 1.9 14.684-2.959c3.238-4.866 1.918-11.438-2.959-14.674 C986.179 106.6 979.6 107.9 976.4 112.807z"/><g><path fill="#46A3BC" d="M1085.05 85.414l-22.9-0.937c-3.195-2.547-9.348-7.584-15.086-13.011 c-8.225-7.773-10.172-7.301-10.172-7.301s-25.857-0.782-30.518-1.25c-4.668-0.468-5.705 4.723-5.705 4.723l-5.205 14.1 l-48.295-1.952c-3.426-0.139-6.316 2.525-6.455 5.946l-0.838 20.473c-0.145 3.4 2.5 6.3 5.9 6.455l23.816 2.9 c1.75-7.4 8.543-12.768 16.42-12.445c7.98 0.3 14.4 6.4 15.4 14.024l50.551 0.822c2.088-6.899 8.615-11.797 16.154-11.487 c7.254 0.3 13.2 5.3 15 11.994l8.748 0.149c3.42 0.1 6.312-2.525 6.449-5.949l0.615-14.975 C1099.089 94.3 1088.5 85.6 1085 85.414z M1020.54 83.461c-0.012 0.345-0.303 0.614-0.646 0.598l-16.09-0.659 c-0.346-0.013-0.609-0.305-0.598-0.646l3.945-14.261c0.014-0.343 0.305-0.607 0.646-0.596l12.787 0.5 c0.346 0 0.6 0.3 0.6 0.642L1020.54 83.461z M1055.427 85.51l-30.211-1.236c-0.316-0.012-0.564-0.304-0.549-0.643 l0.639-14.396c0.014-0.341 0.285-0.611 0.6-0.597l11.854 0.484c0.314 0 1 0.7 1 1.019l17.279 14.8 C1056.011 85.3 1055.7 85.5 1055.4 85.51z"/></g></g><g><g><path fill="none" d="M954.862 17.304l-0.506 16.115l44.371 1.393C979.126 12.1 954.9 17.3 954.9 17.304z"/><path fill="none" d="M924.747 31.298l23.879 0.745l0.434-13.927C949.06 18.1 932.6 20.8 924.7 31.298z"/><path fill="#E8C80F" d="M1036.384 53.215c-1.594-15.884-32.867-18.954-32.867-18.954C977.702 9.6 956 14.2 956 14.2 c-35.432 3.369-43.455 16.265-56.018 26.325c-12.566 10.066-0.543 17.312-0.543 17.312c2.461 0.9 6 1.6 9.9 2.2 c-0.846-1.85-1.295-3.919-1.229-6.092c0.236-7.519 6.527-13.427 14.049-13.19c7.521 0.2 13.4 6.5 13.2 14 c-0.08 2.646-0.916 5.089-2.285 7.136l55.566 1.097c0 0 2.3 0.2 6 0.511c-1.115-2.056-1.729-4.427-1.648-6.938 c0.234-7.521 6.523-13.428 14.047-13.191c7.52 0.2 13.4 6.5 13.2 14.046c-0.078 2.576-0.869 4.961-2.178 7 c2.348-0.033 4.625-0.117 6.719-0.273C1038.761 63.2 1036.4 53.2 1036.4 53.215z M948.626 32.043l-23.879-0.745 c7.9-10.509 24.312-13.182 24.312-13.182L948.626 32.043z M954.356 33.419l0.506-16.115c0 0 24.264-5.217 43.9 17.5 L954.356 33.419z"/></g><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M918.501 46.9 c-4.221 1.879-6.125 6.822-4.244 11.041c1.879 4.2 6.8 6.1 11 4.241c4.221-1.876 6.119-6.818 4.236-11.041 C927.663 46.9 922.7 45 918.5 46.878z"/><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M1002.718 49 c-4.219 1.877-6.119 6.823-4.24 11.043c1.881 4.2 6.8 6.1 11 4.237c4.219-1.879 6.117-6.822 4.234-11.038 C1011.884 49 1006.9 47.1 1002.7 48.968z"/></g><g><path fill="#D35E5B" d="M434.594 110.316c-7.305-8.611-37.148-10.907-37.148-10.907c-18.912-18.217-39.471-17.206-39.471-17.206 c-23.213 2.009-33.809 13.947-33.809 13.947c-19.894 2.671-21.21 12.619-21.21 12.619s0.67 5.6 0.7 12.6 c0.01 7 11.8 10.6 11.8 10.61s-0.202-7.377 1.157-11.113c1.322-3.651 6.982-8.562 17.901-5.826 c3.091 0.8 5.9 3.8 7.3 6.967c1.864 4.4 1.7 9.1 1.7 9.12l49.24-0.039c1.969-19.239 15.41-17.105 15.41-17.105 c14.746 0.8 12.6 17.7 12.6 17.734C437.258 128.1 434.6 110.3 434.6 110.316z M333.783 97.5 c25.182-20.575 55.7 2.6 55.7 2.616L333.783 97.468z"/><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M398.253 128.1 c-0.024 4.8 3.8 8.7 8.6 8.697c4.783 0 8.673-3.833 8.693-8.614c0.024-4.783-3.83-8.678-8.613-8.701 C402.166 119.5 398.3 123.3 398.3 128.099z"/><path fill="none" stroke="#545454" stroke-width="3" stroke-miterlimit="10" d="M320.935 127.7 c-0.022 4.8 3.8 8.7 8.6 8.699c4.783 0 8.678-3.837 8.7-8.614c0.017-4.786-3.835-8.676-8.617-8.701 C324.852 119 321 122.9 320.9 127.671z"/></g><g><path fill="#F4BD0B" d="M340.316 126.348l-0.049-0.157l-5.038-18.102c0 0-0.089-8.546-10.265-8.432 c-10.171 0.106-73.862 0.804-73.862 0.804s-7.948-0.722-10.928 5.82c-2.98 6.54-11.963 23.126-11.963 23.1 s-0.378 2.242-6.67 3.332c-6.295 1.082-41.45 6.352-41.45 6.352s-7.33-0.123-7.256 6.999c0.085 7.1 0.2 14.9 0.2 14.9 s-0.309 8.8 11.3 10.865c0 0 3.184-11.584 12.604-14.895c9.43-3.306 14.492-0.92 19.1 2.2 c4.753 2.7 7.9 8.6 7.9 12.271l64.099-0.696c0 0 5.351-13.183 14.93-15.888c9.596-2.696 15.6 2.1 15.6 2.1 s8.908 4.9 9.6 12.869l6.563 0.231c0 0 4.419-0.656 4.528-4.781c0.112-4.119 2.34-23.373 2.34-23.373s0.2-9.469-1.056-12.815 L340.316 126.348z"/><path fill="#FFFFFF" d="M271.421 127.366c0.016 1.9 1.6 3.5 3.5 3.437l17.46-0.193c1.915-0.017 3.461-1.589 3.438-3.507 l-0.178-16.246c-0.018-1.924-1.589-3.463-3.514-3.438l-17.459 0.189c-1.919 0.023-3.46 1.596-3.438 3.514L271.421 127.366z"/><path fill="#FFFFFF" d="M300.107 127.051c0.017 1.9 1.6 3.5 3.5 3.443l24.792-0.278c1.921-0.016 3.459-1.595 3.442-3.51 l-2.623-16.218c-0.026-1.917-1.601-3.459-3.521-3.439l-22.346 0.245c-1.918 0.016-3.459 1.595-3.436 3.514L300.107 127.051z"/><path fill="#FFFFFF" d="M237.539 127.84c-0.651 1.8 1 3.5 3.5 3.437l22.142-0.242c1.922-0.018 3.459-1.593 3.445-3.511 l-0.178-16.25c-0.021-1.914-1.592-3.452-3.518-3.434l-14.82 0.164c-1.914 0.019-3.172 1.483-3.82 3.5 C244.302 111.5 239.1 123.4 237.5 127.84z"/><g><path fill="#494949" d="M294.174 173.716c0.094 7.9 6.6 14.3 14.5 14.185c7.917-0.086 14.27-6.582 14.182-14.506 c-0.09-7.92-6.577-14.271-14.498-14.185C300.447 159.3 294.1 165.8 294.2 173.716z M299.962 173.7 c-0.048-4.729 3.743-8.605 8.472-8.651c4.727-0.058 8.6 3.7 8.6 8.459c0.048 4.731-3.744 8.606-8.463 8.7 C303.894 182.2 300 178.4 300 173.689z"/></g><g><path fill="#494949" d="M189.183 174.859c0.09 7.9 6.6 14.3 14.5 14.191c7.929-0.09 14.284-6.58 14.194-14.503 c-0.088-7.921-6.579-14.277-14.506-14.188C195.448 160.4 189.1 166.9 189.2 174.859z M194.97 174.8 c-0.052-4.727 3.743-8.601 8.467-8.65c4.726-0.055 8.6 3.7 8.7 8.466c0.052 4.723-3.735 8.594-8.466 8.7 C198.897 183.4 195 179.6 195 174.835z"/></g></g><g><g><path fill="#494949" d="M471.023 84.738c0.068 5.8 4.8 10.4 10.6 10.365c5.786-0.06 10.429-4.809 10.365-10.6 c-0.066-5.79-4.808-10.431-10.597-10.368C475.608 74.2 471 78.9 471 84.738z M475.254 84.7 c-0.035-3.457 2.736-6.29 6.191-6.323c3.455-0.042 6.3 2.7 6.3 6.182c0.037 3.457-2.734 6.289-6.185 6.3 C478.126 90.9 475.3 88.2 475.3 84.719z"/></g><g><path fill="#494949" d="M390.611 84.347c0.065 5.8 4.8 10.4 10.6 10.371c5.795-0.065 10.439-4.809 10.373-10.6 c-0.065-5.79-4.809-10.435-10.601-10.371C395.189 73.8 390.5 78.6 390.6 84.347z M394.84 84.3 c-0.038-3.454 2.736-6.285 6.188-6.321c3.454-0.041 6.3 2.7 6.3 6.187c0.038 3.451-2.729 6.281-6.187 6.3 C397.71 90.6 394.9 87.8 394.8 84.329z"/></g><g><path fill="#BFB588" d="M467.369 84.626c0 0.227-0.183 0.412-0.411 0.412h-50.814c-0.227 0-0.411-0.185-0.411-0.412l0 0 c0-0.225 0.184-0.409 0.411-0.409h50.814C467.187 84.2 467.4 84.4 467.4 84.626L467.369 84.626z"/><path fill="#57C1AF" d="M395.391 65.09c0 0-12.049-1.491-14.552 10.558c0 0-3.77 11.2 7.3 12.2 c2.426 0.2 2.9 0.2 2.9 0.228s-0.783-14.65 10.797-14.56c0 0 10 0.2 10.6 14.56h58.209 c0 0-1.251-13.242 10.953-14.56c0 0 10.5 0.1 11.6 13.548l17.996-1.879c0 0 4.9 2.2 4.851-4.692c0-6.884 0-6.884 0-6.884 l-2.347-7.356c0 0 0.938-6.259-3.6-6.415c-4.537-0.157-10.484 0-16.272-2.817c-5.791-2.817-12.049-7.353-18.936-7.353 c-6.884 0-33.368-0.618-36.456 0c-7.825 1.564-22.783 11.962-28.743 13.791C407.825 64 395.4 65.1 395.4 65.09z"/><path fill="#FFFFFF" d="M422.58 62.555l12.925-7.591c0 0 4.103-3.01 14.498-2.667c0 0 1.093-0.411 1.1 1.5 c0 1.915-0.066 9.916-0.066 9.916h-29.202C421.828 63.7 421.4 63.2 422.6 62.555z"/><path fill="#FFFFFF" d="M454.667 52.219v11.538h20.246h2.34c0 0-0.206-4.891-4.337-7.989 C468.784 52.7 458.9 52.2 454.7 52.219z"/><path fill="#4AA898" d="M413.855 65.09c0 0-1.35-1.536 1.282-4.096c2.63-2.559 4.352-2.09 4.5 0.7 c0.158 2.816-1.285 2.669-3.067 3.369C414.793 65.8 413.9 65.1 413.9 65.09z"/><path fill="#4AA898" d="M444.447 68.844c0 0.39-0.316 0.705-0.705 0.705h-6.103c-0.388 0-0.704-0.315-0.704-0.705l0 0 c0-0.388 0.315-0.704 0.704-0.704h6.103C444.13 68.1 444.4 68.5 444.4 68.844L444.447 68.844z"/><path fill="#4AA898" d="M474.256 68.844c0 0.39-0.317 0.705-0.705 0.705h-6.102c-0.39 0-0.704-0.315-0.704-0.705l0 0 c0-0.388 0.314-0.704 0.704-0.704h6.102C473.939 68.1 474.3 68.5 474.3 68.844L474.256 68.844z"/><path fill="#4AA898" d="M500.074 67.046c0 0-0.86-1.879 6.65-1.645c4.772 0.1 2.7 3.5 2.8 4.1 c0.077 0.627-3.03 0.627-4.566 0.314C503.438 69.5 501.1 69.6 500.1 67.046z"/></g></g><g><g><path fill="#C06BC9" d="M473.93 30.957l-0.307 14.639c-0.01 0.5 0.4 0.9 0.9 0.944l5.287 1.1 c1.481-3.981 5.347-6.785 9.837-6.691c5.672 0.1 10.2 4.8 10.1 10.487c-0.001 0.158-0.022 0.311-0.033 0.466l5.168 1.1 c0.092 0 0.178-0.026 0.262-0.048c1.604 1.5 3.7 2.4 6.1 2.438l30.529-0.755c-0.026-0.361-0.039-0.725-0.031-1.089 c0.13-6.235 5.29-11.186 11.525-11.056c6.234 0.1 11.2 5.3 11.1 11.527c0.001 0.018-0.004 0.037-0.004 0.06l15.563-0.388 c5.129 0.1 9.37-3.963 9.479-9.09l0.512-24.576c0.108-5.13-3.963-9.374-9.093-9.478l-68.567-1.431 c-5.129-0.111-9.373 3.959-9.477 9.084l-0.241 11.572l-27.547 0.229C474.364 30 473.9 30.4 473.9 30.957z M569.932 19.6 c0.011-0.513 0.436-0.917 0.95-0.91l7.848 0.165c0.515 0 0.9 0.4 0.9 0.948l-0.249 11.9 c-0.011 0.512-0.433 0.92-0.949 0.907l-7.848-0.162c-0.514-0.01-0.92-0.435-0.91-0.948L569.932 19.65z M555.26 19.3 c0.01-0.512 0.434-0.92 0.948-0.908l7.85 0.165c0.512 0 0.9 0.4 0.9 0.947l-0.248 11.9 c-0.01 0.51-0.435 0.919-0.948 0.909l-7.85-0.164c-0.512-0.011-0.921-0.433-0.911-0.946L555.26 19.343z M540.586 19 c0.01-0.515 0.434-0.92 0.947-0.911l7.851 0.166c0.513 0 0.9 0.4 0.9 0.947l-0.25 11.9 c-0.009 0.512-0.434 0.92-0.946 0.908l-7.848-0.164c-0.516-0.012-0.922-0.435-0.912-0.949L540.586 19.038z M525.912 18.7 c0.012-0.515 0.435-0.92 0.948-0.911l7.848 0.164c0.515 0 0.9 0.4 0.9 0.948l-0.248 11.9 c-0.009 0.508-0.435 0.917-0.948 0.907l-7.849-0.166c-0.513-0.009-0.92-0.433-0.909-0.947L525.912 18.732z M511.238 18.4 c0.012-0.514 0.436-0.92 0.95-0.91l7.85 0.162c0.512 0 0.9 0.4 0.9 0.951l-0.249 11.9 c-0.011 0.513-0.435 0.92-0.947 0.911l-7.85-0.164c-0.513-0.011-0.921-0.437-0.909-0.949L511.238 18.426z"/></g><path fill="none" stroke="#545454" stroke-width="4" stroke-miterlimit="10" d="M558.727 57.6 c-2.221 3.051-6.492 3.727-9.541 1.506c-3.05-2.221-3.724-6.492-1.503-9.543c2.22-3.048 6.489-3.723 9.539-1.5 C560.274 50.3 560.9 54.6 558.7 57.65z"/><path fill="none" stroke="#545454" stroke-width="4" stroke-miterlimit="10" d="M494.656 56.3 c-2.219 3.053-6.492 3.727-9.541 1.506s-3.724-6.492-1.501-9.544c2.218-3.046 6.488-3.724 9.54-1.5 C496.205 49 496.9 53.3 494.7 56.312z"/></g></svg>
    </div>
  </div>
  <!-- END PARKING LOT -->

  <!-- DASHBOARD -->
  <div id="dash">
    <div style="height: 45px; width: 200px; margin-left: auto; margin-right: auto; padding-top: 30px">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="200px" height="45px" viewBox="0 0 200 45" enable-background="new 0 0 200 45" xml:space="preserve"><path opacity="0.9" fill="#FFFFFF" d="M199.375,45H0.625C0.625,45,32.5,0,100,0S199.375,45,199.375,45z"/></svg>
    </div>
    <div id="dash-left"><br></div>
    <div id="dash-middle"><br></div>
    <div id="dash-right"><br></div>
  </div> 
  <!-- END DASHBOARD -->


</div>
   



