<svg width="100%" height="100%" viewBox="0 0 48 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>burger</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="burger" sketch:type="MSLayerGroup" fill="#FFFFFF">
            <g id="Page-1" sketch:type="MSShapeGroup">
                <g id="fork_knife_icons">
                    <g id="Group">
                        <path d="M46.578,28.07 C45.514,28.065 45.063,27.633 44.225,26.742 C43.283,25.742 41.994,24.369 39.166,24.35 L39.105,24.35 C36.276,24.35 34.917,25.781 33.922,26.828 C32.993,27.805 32.563,28.178 31.667,28.166 C30.693,28.158 30.194,27.664 29.323,26.717 C28.372,25.68 27.069,24.262 24.465,24.242 C24.433,24.242 24.402,24.246 24.371,24.248 C24.351,24.246 24.332,24.242 24.313,24.242 L24.3,24.242 C21.696,24.262 20.393,25.68 19.442,26.717 C18.571,27.664 18.072,28.158 17.096,28.166 C16.203,28.18 15.772,27.805 14.842,26.828 C13.848,25.781 12.488,24.35 9.66,24.35 L9.6,24.35 C6.771,24.369 5.482,25.742 4.54,26.742 C3.702,27.633 3.251,28.065 2.187,28.07 C1.394,28.076 0.757,28.602 0.765,29.242 C0.771,29.881 1.413,30.395 2.2,30.395 L2.212,30.395 C4.73,30.377 5.941,29.09 6.825,28.15 C7.731,27.186 8.268,26.684 9.626,26.672 C11.012,26.688 11.608,27.234 12.567,28.244 C13.519,29.246 14.703,30.49 17.074,30.49 L17.122,30.49 C19.571,30.473 20.778,29.158 21.747,28.102 C22.668,27.098 23.201,26.574 24.325,26.566 C24.345,26.566 24.363,26.563 24.383,26.56 C24.402,26.563 24.421,26.566 24.44,26.566 C25.563,26.574 26.096,27.098 27.018,28.102 C27.987,29.158 29.194,30.473 31.643,30.49 L31.692,30.49 C34.063,30.49 35.246,29.246 36.198,28.244 C37.149,27.242 37.756,26.672 39.105,26.672 L39.139,26.672 C40.498,26.684 41.034,27.186 41.94,28.15 C42.823,29.09 44.034,30.377 46.553,30.395 L46.565,30.395 C47.353,30.395 47.994,29.881 48,29.242 C48.008,28.602 47.371,28.076 46.578,28.07" id="Fill-260"></path>
                        <path d="M24.383,0.695 C11.95,0.695 1.797,9.834 1.178,21.326 L47.587,21.326 C46.967,9.834 36.815,0.695 24.383,0.695 L24.383,0.695 L24.383,0.695 Z M9.971,10.336 C8.402,10.336 8.447,7.904 10.013,7.904 C11.582,7.904 11.537,10.336 9.971,10.336 L9.971,10.336 L9.971,10.336 Z M14.901,9.334 C12.749,9.334 12.811,6.002 14.959,6.002 C17.112,6.002 17.049,9.334 14.901,9.334 L14.901,9.334 L14.901,9.334 Z M20.418,9.158 C18.121,9.158 18.188,5.598 20.48,5.598 C22.778,5.598 22.711,9.158 20.418,9.158 L20.418,9.158 L20.418,9.158 Z M24.197,14.565 C22.045,14.565 22.107,11.231 24.255,11.231 C26.406,11.231 26.345,14.565 24.197,14.565 L24.197,14.565 L24.197,14.565 Z M26.519,6.543 C24.222,6.543 24.288,2.982 26.581,2.982 C28.878,2.982 28.811,6.543 26.519,6.543 L26.519,6.543 L26.519,6.543 Z M33.783,9.916 C31.632,9.916 31.693,6.582 33.841,6.582 C35.993,6.582 35.931,9.916 33.783,9.916 L33.783,9.916 L33.783,9.916 Z M40.462,12.352 C38.165,12.352 38.231,8.793 40.524,8.793 C42.822,8.793 42.754,12.352 40.462,12.352 L40.462,12.352 L40.462,12.352 Z" id="Fill-261"></path>
                        <path d="M4.818,45.561 C5.507,47.504 9.138,48.922 12.347,48.922 L36.419,48.922 C39.628,48.922 43.258,47.504 43.947,45.561 C44.355,44.402 44.609,43.193 44.688,41.945 L4.077,41.945 C4.156,43.193 4.41,44.402 4.818,45.561" id="Fill-262"></path>
                        <path d="M41.812,33.813 L6.954,33.813 C3.745,33.813 1.143,34.83 1.143,36.088 C1.143,37.344 3.745,38.361 6.954,38.361 L41.812,38.361 C45.021,38.361 47.622,37.344 47.622,36.088 C47.622,34.83 45.021,33.813 41.812,33.813" id="Fill-263"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>