<svg width="100%" height="100%" viewBox="0 0 58 52" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>gray lone tag</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="gray-lone-tag" sketch:type="MSLayerGroup">
            <g id="Group" sketch:type="MSShapeGroup">
                <path d="M56.06,3.622 L52.52,1.093 L52.52,3.622 L56.06,3.942" id="Shape" fill="#727373"></path>
                <path d="M30.217,2.753 L6.866,2.753 C4.854,2.753 3.223,4.377 3.223,6.378 L3.223,29.578 C3.223,31.579 4.83,32.883 6.631,34.1 L30.217,51.107 L30.217,51.2 L30.284,51.155 L30.345,51.2 L30.345,51.107 L53.934,34.1 C55.734,32.882 57.341,31.579 57.341,29.578 L57.341,6.378 C57.341,4.377 55.709,2.753 53.696,2.753 L30.345,2.753 L30.217,2.753 L30.217,2.753 Z" id="Shape" fill="#727373" class="drop-shadow"></path>
                <path d="M27.17,0.573 L3.819,0.573 C1.806,0.573 0.176,2.197 0.176,4.198 L0.176,27.398 C0.176,29.4 1.782,30.703 3.583,31.92 L27.17,48.927 L27.17,49.02 L27.236,48.975 L27.297,49.02 L27.297,48.927 L50.886,31.92 C52.688,30.702 54.293,29.399 54.293,27.398 L54.293,4.198 C54.293,2.197 52.662,0.573 50.649,0.573 L27.297,0.573 L27.17,0.573 L27.17,0.573 Z" id="Shape" fill="#B5B5B6" class="color-fill"></path>
            </g>
        </g>
    </g>
</svg>