<svg width="100%" height="100%" viewBox="0 0 633 268" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
    <title>_introPhone</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="_introPhone" sketch:type="MSLayerGroup" transform="translate(316.500000, 134.000000) rotate(90.000000) translate(-316.500000, -134.000000) translate(182.500000, -182.500000)">
            <rect id="Rectangle-path" fill="#E5E5EA" sketch:type="MSShapeGroup" x="64" y="8" width="138" height="41"></rect>
            <rect id="Rectangle-path" fill="#E5E5EA" sketch:type="MSShapeGroup" x="103" y="567" width="59" height="50"></rect>
            <path d="M226.58026,632.195 C226.58026,632.195 267.666,632.195 267.666,574.802256 L267.666,58.2031818 C267.666,0.804 226.58026,0.804 226.58026,0.804 L41.6768935,0.804 C41.6768935,0.804 0.593,0.804 0.593,58.2031818 L0.593,574.802256 C0.593,632.195 41.6768935,632.195 41.6768935,632.195 L226.58026,632.195 L226.58026,632.195 Z M133,613.633 C120.712,613.633 110.741,603.662 110.741,591.375 C110.741,579.096 120.712,569.115 133,569.115 C145.29,569.115 155.258,579.095 155.258,591.375 C155.258,603.662 145.289,613.633 133,613.633 L133,613.633 Z M77.361,28.977 C77.361,26.219 79.564,24.059 82.274,24.059 L183.695,24.059 C186.416,24.059 188.638,26.262 188.638,28.977 L188.638,30.294 C188.638,33.076 186.435,35.212 183.724,35.212 L82.274,35.212 C79.583,35.212 77.361,33.009 77.361,30.294 L77.361,28.977 L77.361,28.977 Z M22.593,60.804 L245.406,60.804 L245.406,553.541 L22.593,553.541 L22.593,60.804 L22.593,60.804 Z" id="Shape" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        </g>
    </g>
</svg>