@media only screen and (min-width : 768px) {
  svg {
    width: auto !important;
  }
  #splash-page .splash-ctnr div[ng-include] svg {
    height: 557px;
  }
    body {
    .bg-animations {
      .cloud-cntr {
        #cloud-1 svg {
          height: 256px;
        }
        #cloud-2, #cloud-3, #cloud-4{
          svg {
            height: 205px;
          }
        }
        #cloud-5, #cloud-6 {
          svg {
            height: 102px;
          }
        }
      }
      .distant-plane svg {
        height: 41px;
      }
      .middle-plane svg {
        height: 205px;
      }
    }
    #landing-plane svg {
      height: 717px;
    }
    #mission-intro .phone div[ng-include] svg {
      height: 650px;
    }
    #mission-intro #stage-4 #timer-backdrop svg {
      left: 90px;
    }
    #zip-code-template .ferrari-container svg {
      height: 388px;
    }
    #interactive-map {
      .path-letter svg {
        height: 40px;
      }
      .tram svg {
        height: 77px;
      }
      .path-letter svg#parking {
        height: 40px !important;
      }
    }
    #strategy-questions .strategy-ctnr {
      .boxster-ctnr div[ng-include] svg {
        height: 114px;
      }
      .bbl-ctnr .bbl .icon div[ng-include] svg {
        height: 34px;
      }
    }
    #think-strategy .head-ctnr .thought-head svg {
      height: 256px;
    }
    #pickup-spinner-question .spinner-components .wheel svg, #parking-spinner-questions .spinner-components .wheel svg {
      height: 492px;
    }
    #successful-pickup .high-five .high-five-cntr svg {
      height: 269px;
    }
    #rail-system .rail-bg {
      .rail-car-svg svg {
        height: 118px;
      }
      .rail-answer svg {
        height: 109px;
      }
    }
    &.orange svg.bg {
      height: 600px;
    }
    #icon-questions .icon-container {
      .row .icon-holder svg {
        height: 100px;
      }
      .selection-container .selection svg {
        height: 68px;
      }
    }
    .circle-car svg {
      height: 70px;
      width: 70px !important;
    }
    .trophy-c svg {
      height: 475px;
    }
    #late-flight {
      .select-btn svg {
        height: 70px;
      }
      .checkmark svg {
        height: 35px;
        width: 35px !important;
      }
    }
    #clock-questions #clock-container svg {
      height: 269px;
    }
    #after-parking-questions .pole svg {
      width: 50px !important;
    }
    .talk-bbl svg {
      height: 50px;
    }
    #congrats-share-overlay .mail svg {
      height: 20px;
    }
  }
}

@media only screen and (min-width : 1024px) {
  #splash-page .splash-ctnr div[ng-include] svg {
    height: 437px;
  }
  body {
    .bg-animations {
      .cloud-cntr {
        #cloud-1 svg {
          height: 192px;
        }
        #cloud-2, #cloud-3, #cloud-4{
          svg {
            height: 154px;
          }
        }
        #cloud-5, #cloud-6 {
          svg {
            height: 77px;
          }
        }
      }
      .distant-plane svg {
        height: 58px;
      }
      .middle-plane svg {
        height: 154px;
      }
    }
    #landing-plane svg {
      height: 538px;
    }
    #zip-code-template .ferrari-container svg {
      height: 501px;
    }
    #strategy-questions .strategy-ctnr {
      .boxster-ctnr div[ng-include] svg {
        height: 152px;
      }
      .bbl-ctnr .bbl .icon div[ng-include] svg {
        height: 44px;
      }
    }
    #think-strategy .head-ctnr .thought-head svg {
      height: 341px;
    }
    #pickup-spinner-question .spinner-components .wheel svg, #parking-spinner-questions .spinner-components .wheel svg {
      height: 644px;
    }
    #successful-pickup .high-five .high-five-cntr svg {
      height: 358px;
    }
    #rail-system .rail-bg {
      .rail-car-svg svg {
        height: 152px;
      }
      .rail-answer svg {
        height: 144px;
      }
    }
    #clock-questions #clock-container svg {
      height: 350px;
    }
  }
}

@media only screen and (min-width : 1280px) {
  #splash-page .splash-ctnr div[ng-include] svg {
    height: 546px;
  }
}

@media only screen and (min-width : 1600px) {
  #splash-page .splash-ctnr div[ng-include] svg {
    height: 683px;
  }
}