/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'main'
 *= require 'background'
 *= require 'splash_page'
 *= require 'dashboard'
 *= require 'car_dash'
 *= require 'zip_code_template'
 *= require 'tiles'
 *= require 'late_flight'
 *= require 'timer_questions'
 *= require 'mission_intro'
 *= require 'interactive_map'
 *= require 'successful_pickup'
 *= require 'circle_pickup'
 *= require 'timer_pickup'
 *= require 'parking_questions'
 *= require 'last_series_questions'
 *= require 'after_parking'
 *= require 'time_spent'
 *= require 'rail_system'
 *= require 'willing_to_wait'
 *= require 'think_strategy'
 *= require 'congrats'
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body, html {
	font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: 'Quicksand', sans-serif;
}


