.plane-cntr{
    position: absolute;
    z-index: 20;
    top:-30%;
    left:100%;
    width: 70%;
    height: 70%;
    svg{
        width: 100%;
        height: 100%;
    }
}

.distant-plane{
    border: 1px solid white;
    width: 15%;
    -webkit-animation: far-plane 3s;
    -moz-animation: far-plane 3s;
    animation: far-plane 3s;
    svg{
        width: 100%;
        height: 100%;
    }
}

@-webkit-keyframes far-plane{
   0% { -webkit-transform: translate3d(0, 0, 0); }
   100% {-webkit-transform: translate3d(100%, 0, 0);}
}
// @-moz-keyframes far-plane{
//    0% { transform: translate3d(0, 0, 0); }
//    100% {transform: translate3d(1000%, 0, 0);}
// }
// keyframes far-plane{
//    0% { transform: translate3d(0, 0, 0); }
//    100% {transform: translate3d(1000%, 0, 0);}
// }

.far-plane{
    position: absolute;
    width: 30%;
    height: 30%;
    border: 1px solid white;

    animation: far-plane;
    -webkit-animation: far-plane;
    -moz-animation: far-plane;
    -o-animation: far-plane;
    -ms-animation: far-plane;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;

    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -ms-animation-timing-function: linear;

    animation-delay: 2s; 
    -webkit-animation-delay: 2s;  
    -moz-animation-delay: 2s; 
    -o-animation-delay: 2s; 
    -ms-animation-delay: 2s; 
}

@keyframes far-plane{
    0%   {
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(30%,0,0);
    }
}
@-webkit-keyframes far-plane{
    0%   {
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(30%,0,0);
    }
}
@-moz-keyframes far-plane{
    0%   {
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(30%,0,0);
    }
}
@-o-keyframes far-plane{
    0%   {
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(30%,0,0);
    }
}
@-ms-keyframes far-plane{
    0%   {
        -webkit-transform: translate3d(0,0,0);
    }
    100% {
        -webkit-transform: translate3d(30%,0,0);
    }
}

div#plane { 
    position: absolute;
    animation: plane 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 35s;  

    -webkit-animation: plane 35s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 25s;

    -moz-animation: plane 35s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 25s;

    -o-animation: plane 35s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -o-animation-delay: 25s;

    -ms-animation: plane 35s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -ms-animation-delay: 25s;  
}

.land-ze-plane { 
    animation: landing 7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    -webkit-animation: landing 7s; 
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    -moz-animation: landing 7s; 
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;

    -o-animation: landing 7s; 
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: linear;

    -ms-animation: landing 7s; 
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
}

@-webkit-keyframes landing {
    0%   {left:100%; top:-30%;}
    100% {left:-90%; top: 35%;}
}
@-moz-keyframes landing {
    0%   {left:100%; top:-30%;}
    100% {left:-90%; top: 35%;}
}
@-o-keyframes landing {
    0%   {left:100%; top:-30%;}
    100% {left:-90%; top: 35%;}
}
@-ms-keyframes landing {
    0%   {left:100%; top:-30%;}
    100% {left:-90%; top: 35%;}
}
@keyframes landing {
    0%   {left:100%; top:-30%;}
    100% {left:-90%; top: 35%;}
}












































// div#far-plane { 
//     position: absolute;
//     animation: far 40s;
//     animation-iteration-count: infinite;
//     animation-timing-function: linear;

//     -webkit-animation: far 40s; 
//     -webkit-animation-iteration-count: infinite;
//     -webkit-animation-timing-function: linear;

//     -moz-animation: far 40s; 
//     -moz-animation-iteration-count: infinite;
//     -moz-animation-timing-function: linear;

//     -o-animation: far 40s; 
//     -o-animation-iteration-count: infinite;
//     -o-animation-timing-function: linear;

//     -ms-animation: far 40s; 
//     -ms-animation-iteration-count: infinite;
//     -ms-animation-timing-function: linear;
// }

// @keyframes plane {
//     0%   {left:110%; top:15%;}
//     8%  {left:10%; top:-25%;}
//     100% {left:0%; top:-25%;}
// }

// @keyframes landing {
//     0%   {left:1%; top:-25%;}
//     100% {left:-90%; top: 35%;}
// }

// @keyframes far {
//     0%   {left:-20%; top:15%;}
//     30%  {left:110%; top: 5%;}
//     100% {left:120%; top:-15%;}
// }


// @-webkit-keyframes plane {
//     0%   {left:110%; top:15%;}
//     15%  {left:-50%; top:-25%;}
//     100% {left:0%; top:-25%;}
// }
// @-webkit-keyframes landing {
//     0%   {left:1%; top:-25%;}
//     100% {left:-90%; top: 35%;}
// }
// @-webkit-keyframes far {
//     0%   {left:-20%; top:15%;}
//     30%  {left:110%; top: 5%;}
//     100% {left:120%; top:-15%;}
// }


// @-moz-keyframes plane {
//     0%   {left:110%; top:15%;}
//     8%  {left:10%; top:-25%;}
//     100% {left:0%; top:-25%;}
// }
// @-moz-keyframes landing {
//     0%   {left:1%; top:-25%;}
//     100% {left:-90%; top: 35%;}
// }
// @-moz-keyframes far {
//     0%   {left:-20%; top:15%;}
//     30%  {left:110%; top: 5%;}
//     100% {left:120%; top:-15%;}
// }
// @-o-keyframes plane {
//     0%   {left:110%; top:15%;}
//     8%  {left:10%; top:-25%;}
//     100% {left:0%; top:-25%;}
// }

// @-o-keyframes landing {
//     0%   {left:1%; top:-25%;}
//     100% {left:-90%; top: 35%;}
// }
// @-o-keyframes far {
//     0%   {left:-20%; top:15%;}
//     30%  {left:110%; top: 5%;}
//     100% {left:120%; top:-15%;}
// }

// @-ms-keyframes plane {
//     0%   {left:110%; top:15%;}
//     8%  {left:10%; top:-25%;}
//     100% {left:0%; top:-25%;}
// }
// @-ms-keyframes landing {
//     0%   {left:1%; top:-25%;}
//     100% {left:-90%; top: 35%;}
// }
// @-ms-keyframes far {
//     0%   {left:-20%; top:15%;}
//     30%  {left:110%; top: 5%;}
//     100% {left:120%; top:-15%;}
// }









