// PARKING LOT
@media screen and (max-width: 571px) and (min-width: 376px) {
	div#lines,
	div#cars {
		padding-top: 40px;
	}
	div#parking-lot div#lines svg {
		width: 700px;
	}
	div#parking-lot div#cars svg {
		width: 700px;
	}
}
// END PARKING LOT

// ========================================

// TILES
// landscape views
@media screen and (max-width: 480px) {
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 70px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#shop-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#hang-out-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#eat-landscape svg {
		width: 70px;
		height: 70px;
	}
    
    div#other-landscape svg {
		width: 70px;
		height: 70px;
	}	
}

@media screen and (max-width: 568px) and (min-width: 481px) {
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 80px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#shop-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#hang-out-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#eat-landscape svg {
		width: 80px;
		height: 80px;
	}
    
    div#other-landscape svg {
		width: 80px;
		height: 80px;
	}		
}

@media screen and (max-width: 667px) and (min-width: 569px) {
	
}

@media screen and (max-width: 736px) and (max-width: 668px){
	
}

@media screen and (max-width: 1024px) and (min-width: 737px){
	
}

@media screen and (min-width: 1025px) {
	
}
// end landscape views

// portait views
@media screen and (max-width: 320px) {
	div#question-header {
		text-align:center; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 90px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 90px;
		height: 90px;
	}

	div#shop svg {
		width: 90px;
		height: 90px;
	}

	div#hang-out svg {
		width: 90px;
		height: 90px;
	}

	div#eat svg {
		width: 90px;
		height: 90px;
	}
    
    div#other svg {
		width: 90px;
		height: 90px;
	}	
}

@media screen and (max-width: 375px) and (min-width: 321px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 100px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 100px;
		height: 100px;
	}

	div#shop svg {
		width: 100px;
		height: 100px;
	}

	div#hang-out svg {
		width: 100px;
		height: 100px;
	}

	div#eat svg {
		width: 100px;
		height: 100px;
	}
    
    div#other svg {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 571px) and (min-width: 376px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 100px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 100px;
		height: 100px;
	}

	div#shop svg {
		width: 100px;
		height: 100px;
	}

	div#hang-out svg {
		width: 100px;
		height: 100px;
	}

	div#eat svg {
		width: 100px;
		height: 100px;
	}
    
    div#other svg {
		width: 100px;
		height: 100px;
	}	
}

@media screen and (max-width: 768px) and (min-width: 572px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 200px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 30px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 200px;
		height: 200px;
	}

	div#shop svg {
		width: 200px;
		height: 200px;
	}

	div#hang-out svg {
		width: 200px;
		height: 200px;
	}

	div#eat svg {
		width: 200px;
		height: 200px;
	}
    
    div#other svg {
		width: 200px;
		height: 200px;
	}	
}
// end portait views
// END TILES

// ============================