// BACKGROUND
@media screen and (max-width: 320px) {
    #cloud-1 svg {
        height: 70px;
        width: 280px;
    }

    #cloud-2 svg {
        height: 70px;
        width: 280px;
    }

    #cloud-3 svg {
        height: 70px;
        width: 280px;
    }

    #cloud-4 svg {
        height: 70px;
        width: 280px;
    }

    #cloud-5 svg {
        height: 70px;
        width: 280px;
    }

    #cloud-6 svg {
        height: 70px;
        width: 280px;
    }

    div#plane svg {
		height: 70px;
		width: 150px;
    }

    @keyframes plane {
        0%   {left:110%; top:15%;}
        8%  {left:0%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @-webkit-keyframes plane {
        0%   {left:110%; top:15%;}
        8%  {left:0%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @-moz-keyframes plane {
        0%   {left:110%; top:15%;}
        8%  {left:0%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-o-keyframes plane {
        0%   {left:110%; top:15%;}
        8%  {left:0%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-ms-keyframes plane {
        0%   {left:110%; top:15%;}
        8%  {left:0%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @keyframes landing {
        0%   {left:110%; top:-25%;}
        40% {left:-120%; top: 25%;}
        100% {left:-120%; top: 25%;}
    }

    @-webkit-keyframes landing {
        0%   {left:110%; top:-25%;}
        40% {left:-120%; top: 25%;}
        100% {left:-120%; top: 25%;}
    }

    @-moz-keyframes landing {
        0%   {left:110%; top:-25%;}
        40% {left:-120%; top: 25%;}
        100% {left:-120%; top: 25%;}
    }

    @-o-keyframes landing {
        0%   {left:110%; top:-25%;}
        40% {left:-120%; top: 25%;}
        100% {left:-120%; top: 25%;}
    }

    @-ms-keyframes landing {
        0%   {left:110%; top:-25%;}
        40% {left:-120%; top: 25%;}
        100% {left:-120%; top: 25%;}
    }

    @keyframes far {
        0%   {left:-30%; top:15%;}
        10%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-webkit-keyframes far {
        0%   {left:-30%; top:15%;}
        10%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-moz-keyframes far {
        0%   {left:-30%; top:15%;}
        10%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-o-keyframes far {
        0%   {left:-30%; top:15%;}
        10%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-ms-keyframes far {
        0%   {left:-30%; top:15%;}
        10%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

}




@media screen and (max-width: 640px) and (min-width: 321px) {
	#cloud-1 svg {
        height: 100px;
        width: 320px;
    }

    #cloud-2 svg {
        height: 100px;
        width: 320px;
    }

    #cloud-3 svg {
        height: 100px;
        width: 320px;
    }

    #cloud-4 svg {
        height: 100px;
        width: 320px;
    }

    #cloud-5 svg {
        height: 100px;
        width: 320px;
    }

    #cloud-6 svg {
        height: 100px;
        width: 320px;
    }

    div#plane svg {
		height: 70px;
		width: 150px;
    }

    @keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:-20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @-webkit-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:-20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @-moz-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:-20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-o-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:-20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-ms-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:-20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @keyframes landing {
        0%   {left:110%; top:-25%;}
        70% {left:-90%; top: 25%;}
        100% {left:-91%; top: 25%;}
    }

    @-webkit-keyframes landing {
        0%   {left:110%; top:-25%;}
        70% {left:-90%; top: 25%;}
        100% {left:-91%; top: 25%;}
    }

    @-moz-keyframes landing {
        0%   {left:110%; top:-25%;}
        70% {left:-90%; top: 25%;}
        100% {left:-91%; top: 25%;}
    }

    @-o-keyframes landing {
        0%   {left:110%; top:-25%;}
        70% {left:-90%; top: 25%;}
        100% {left:-91%; top: 25%;}
    }

    @-ms-keyframes landing {
        0%   {left:110%; top:-25%;}
        70% {left:-90%; top: 25%;}
        100% {left:-91%; top: 25%;}
    } 
}

@media screen and (max-width: 640px) {
    div#plane { 
        position: absolute;
        animation: plane 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 5s;  

        -webkit-animation: plane 20s; 
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 5s;

        -moz-animation: plane 20s; 
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 5s;

        -o-animation: plane 20s; 
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;
        -o-animation-delay: 5s;

        -ms-animation: plane 20s; 
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -ms-animation-delay: 5s;
        
    }

    .land-ze-plane { 
        position: absolute;
        animation: landing 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation: landing 7s; 
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-transform: rotate(15deg);

        -moz-animation: landing 7s; 
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: linear;
        -moz-transform: rotate(15deg);

        -o-animation: landing 7s; 
        -o-animation-iteration-count: 1;
        -o-animation-timing-function: linear;
        -o-transform: rotate(15deg);

        -ms-animation: landing 7s; 
        -ms-animation-iteration-count: 1;
        -ms-animation-timing-function: linear;
        -ms-transform: rotate(15deg);

    }

    div#far-plane { 
        position: absolute;
        animation: far 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        -webkit-animation: far 25s; 
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;

        -moz-animation: far 25s; 
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;

        -o-animation: far 25s; 
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear;

        -ms-animation: far 25s; 
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
    }

    @keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @keyframes landing {
        0%   {left:110%; top:-25%;}
        100% {left:-90%; top: 25%;}
    }

    @keyframes far {
        0%   {left:0%; top:15%;}
        20%  {left:110%; top: 5%;}
        100% {left:30%; top:-45%;}
    }

    @-webkit-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-webkit-keyframes landing {
        0%   {left:110%; top:-25%;}
        100% {left:-90%; top: 25%;}
    }
    @-webkit-keyframes far {
        0%   {left:-20%; top:15%;}
        20%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-moz-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-moz-keyframes landing {
        0%   {left:110%; top:-25%;}
        100% {left:-90%; top: 25%;}
    }
    @-moz-keyframes far {
        0%   {left:-20%; top:15%;}
        20%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }
    @-o-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }

    @-o-keyframes landing {
        0%   {left:110%; top:-25%;}
        100% {left:-90%; top: 25%;}
    }
    @-o-keyframes far {
        0%   {left:-20%; top:15%;}
        20%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }

    @-ms-keyframes plane {
        0%   {left:110%; top:15%;}
        15%  {left:20%; top:-15%;}
        100% {left:0%; top:-25%;}
    }
    @-ms-keyframes landing {
        0%   {left:110%; top:-25%;}
        100% {left:-90%; top: 25%;}
    }
    @-ms-keyframes far {
        0%   {left:-20%; top:15%;}
        20%  {left:110%; top: 5%;}
        100% {left:120%; top:-15%;}
    }
  
}
// END BACKGROUND

// ==================================================




























// PARKING LOT
@media screen and (max-width: 571px) and (min-width: 376px) {
	div#lines,
	div#cars {
		padding-top: 40px;
	}
	div#parking-lot div#lines svg {
		width: 700px;
	}
	div#parking-lot div#cars svg {
		width: 700px;
	}
}

@media screen and (max-width: 1250px) and (min-width: 572px){
	div#lines,
	div#cars {
		padding-top: 40px;
	}
	div#parking-lot div#lines svg {
		width: 1000px;
	}
	div#parking-lot div#cars svg {
		width: 1000px;
	}

}

@media screen and (max-width: 1441px) and (min-width: 1251px) {
	div#lines,
	div#cars {
		padding-top: 50px;
	}
	div#parking-lot div#lines svg {
		width: 1200px;
	}
	div#parking-lot div#cars svg {
		width: 1200px;
	}
}

@media screen and (max-width: 1690px) and (min-width: 1442px) {
	div#lines,
	div#cars {
		padding-top: 50px;
	}
	div#parking-lot div#lines svg {
		width: 1400px;
	}
	div#parking-lot div#cars svg {
		width: 1400px;
	}
}

@media screen and (min-width: 1691px) {
	div#lines,
	div#cars {
		padding-top: 50px;
	}
	div#parking-lot div#lines svg {
		width: 1600px;
	}
	div#parking-lot div#cars svg {
		width: 1600px;
	}
}
// END PARKING LOT

// ========================================































// TILES
// landscape views
@media screen and (max-width: 480px) {
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 70px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#shop-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#hang-out-landscape svg {
		width: 70px;
		height: 70px;
	}

	div#eat-landscape svg {
		width: 70px;
		height: 70px;
	}
    
    div#other-landscape svg {
		width: 70px;
		height: 70px;
	}	
}

@media screen and (max-width: 568px) and (min-width: 481px) {
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 80px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#shop-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#hang-out-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#eat-landscape svg {
		width: 80px;
		height: 80px;
	}
    
    div#other-landscape svg {
		width: 80px;
		height: 80px;
	}		
}

@media screen and (max-width: 667px) and (min-width: 569px) {
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 80px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#shop-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#hang-out-landscape svg {
		width: 80px;
		height: 80px;
	}

	div#eat-landscape svg {
		width: 80px;
		height: 80px;
	}
    
    div#other-landscape svg {
		width: 80px;
		height: 80px;
	}
	
}

@media screen and (max-width: 736px) and (min-width: 668px){
	div#large-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			padding-bottom: 20px;
			font-size: 12px;
			color: #008CBA;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 100px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 100px;
		height: 100px;
	}

	div#shop-landscape svg {
		width: 100px;
		height: 100px;
	}

	div#hang-out-landscape svg {
		width: 100px;
		height: 100px;
	}

	div#eat-landscape svg {
		width: 100px;
		height: 100px;
	}
    
    div#other-landscape svg {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 1024px) and (min-width: 737px){
	div#small-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 20px;
		#main-landscape {
			font-size: 30px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			padding-bottom: 20px;
			font-size: 20px;
			color: #008CBA;
		}
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 150px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#shop-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#hang-out-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#eat-landscape svg {
		width: 150px;
		height: 150px;
	}
    
    div#other-landscape svg {
		width: 150px;
		height: 150px;
	}
	
}

@media screen and (min-width: 1025px) {
	div#small-landscape {
		display: none;
	}

	div#question-header-landscape {
		text-align:center;
		margin-top: 0px;
		#main-landscape {
			font-size: 30px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot-landscape {
			padding-top: 0px;
			padding-bottom: 20px;
			font-size: 20px;
			color: #008CBA;
		}
	}

	div.small-tile-label-landscape {
		font-size: 12px;
	}

	div.row.tile-title {
		font-size: 12px;
	}		

	div#phone-landscape,
	div#shop-landscape,
	div#hang-out-landscape,
	div#eat-landscape,
	div#other-landscape {
		width: 150px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#phone-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#shop-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#hang-out-landscape svg {
		width: 150px;
		height: 150px;
	}

	div#eat-landscape svg {
		width: 150px;
		height: 150px;
	}
    
    div#other-landscape svg {
		width: 150px;
		height: 150px;
	}
	
	
}
// end landscape views

// portait views
@media screen and (max-width: 320px) {
	div#question-header {
		text-align:center; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 90px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 90px;
		height: 90px;
	}

	div#shop svg {
		width: 90px;
		height: 90px;
	}

	div#hang-out svg {
		width: 90px;
		height: 90px;
	}

	div#eat svg {
		width: 90px;
		height: 90px;
	}
    
    div#other svg {
		width: 90px;
		height: 90px;
	}	
}

@media screen and (max-width: 375px) and (min-width: 321px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 100px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 100px;
		height: 100px;
	}

	div#shop svg {
		width: 100px;
		height: 100px;
	}

	div#hang-out svg {
		width: 100px;
		height: 100px;
	}

	div#eat svg {
		width: 100px;
		height: 100px;
	}
    
    div#other svg {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 571px) and (min-width: 376px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}

	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 100px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 10px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 100px;
		height: 100px;
	}

	div#shop svg {
		width: 100px;
		height: 100px;
	}

	div#hang-out svg {
		width: 100px;
		height: 100px;
	}

	div#eat svg {
		width: 100px;
		height: 100px;
	}
    
    div#other svg {
		width: 100px;
		height: 100px;
	}	
}

@media screen and (max-width: 768px) and (min-width: 572px) {
	div#question-header {
		margin-top: 20px;
		text-align:center;
		margin-bottom: 50px; 
		#main {
			font-size: 18px; 
			color: white;
			padding-bottom: 0;	
		}
		#foot {
			color: #008CBA;
			font-size: 14px;
		}
	}

	div#parking-lot {
		display: none;
	}


	div.row.small-tile-label {
		font-size: 12px;
	}	

	div#phone,
	div#shop,
	div#hang-out,
	div#eat,
	div#other {
		width: 170px; 
		display: block; 
		margin-left: auto; 
		margin-right: auto;
		padding: 0;
	}

	div.row#bottom-tile-row {
		margin-top: 30px;
	}

	div.row#small-other-row {
		margin-top: 10px;
	}

	div#small-other {
		position: relative;
		width: 40px; 
		display: block; 
		margin-left: 60%; 
		margin-right: auto;
		padding: 0;
	}

	div#phone svg {
		width: 170px;
		height: 170px;
	}

	div#shop svg {
		width: 170px;
		height: 170px;
	}

	div#hang-out svg {
		width: 170px;
		height: 170px;
	}

	div#eat svg {
		width: 170px;
		height: 170px;
	}
    
    div#other svg {
		width: 170px;
		height: 170px;
	}	
}
// end portait views
// END TILES

// ============================