#confetti{
  background: none;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}

#congrats {
  margin-top: -50px;
  h3 {
    color: white;
    font-weight: 700;
  }
  h4 {
    color: #8D8D8D;
    line-height: 1;
    font-size: .9em;
    font-weight: 700;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.3);
  }
  p {
    color: white;
    line-height: 1;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    font-size: .8em;
    margin-bottom: 6px;
  }
  .inner-c {
    width: 300px;
    margin: 0 auto;
  }
  button {
    font-size: .8em;
    padding: 10px;
    outline: none;
  }
  a, a:visited, a:active {
    color: #54556D;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 1em;
  }
  .share-story-btn {
    background: #7457A3;
    color: white;
  }

  .replay-btn, .share-btn {
    background-color: #EE4444;
    color: white;
    border-radius: 25px;
  }
  .trophy-c {
    width: 52%;
    margin: 0 auto;
    margin-bottom: -10%;
  }
}

#share-story-overlay {
  .inner {
    background: #8066AB;
  }
  .close-story-overlay-btn {
    padding: 0;
    margin: 0;
    background: none;
    color: white;
    width: 100%;
  }
  textarea {
    resize: none;
    border: none;
    height: 200px;
    padding: 10px 20px;
    &::-webkit-input-placeholder {
      color: #333;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #333;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: #333;  
    }
    :-ms-input-placeholder {  
      color: #333;  
    }
  }
  .submit-story-btn {
    width: 60%;
    margin: 10px auto;
    display: block;
    padding: 6px;
    background: #472E85;
    font-size: .8em;
  }
}
#congrats-share-overlay {
  background: #E96768;
  .tile-ctnr{
    position: absolute;
    width: 100%;
    height: 25%;
    top: 15%;
        text-shadow: 0 2px 2px rgba(0,0,0,.3);
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.3);
    .tile{
      position: relative;
      width: 30%;
      min-width: 300px;
      height: 100%;
      margin: 0 auto;
      background: #E96768;
      border-radius: 15px;
      color: white;
      text-align: center;
      button#x-btn-close-share-overlay{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        background: none;
        padding: 3px 10px 3px 10px;
        font-size: 25px;
        font-weight: 700;
      }
      .title{
        padding-top: 2.5%;
        font-size: 1.3vw;
        font-weight: 700;
      }
      .url{
        font-size: 1.2vw;
        border: 2px solid white;
        padding-top: 2%;
        width: 70%;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: 5px;
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        .mail{
          width: 15%;
          padding-left: 2%;
          svg{
            width: 100%;
            height: 100%;
            &:hover{
              width: 110%;
              path{
                fill: #58D3F7;
              }
            }
          }
        }
        .link{
          width: 85%;

        }
      }
      .social-media-row{
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        margin-top: 6%;
        .twitter{
          width: 50%;
          padding-top: 1%;
          text-align: right;
        }
        .facebook{
          width: 50%;
          text-align: left;
          padding-left: 8%;
        }
      }
    }
  }
}

#share-story-overlay, #congrats-share-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 51;
  background: rgba(0,0,0,.4);
  &.show {
    display: block;
  }
  .inner {
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 35%;
    width: 300px;
    margin-top: -25%;
    left: 50%;
    margin-left: -150px;
  }
  .top-section {
    margin-bottom: 10px;
    >div {
      display: inline-block;
      vertical-align: top;
    }
  }
  .icon-c, .close-btn-c {
    width: 20px;
    color: white;
  }
  .title-text-c {
    width: 100%;
    font-size: .8em;
    color: white;
    line-height: 1;
    padding:0;
    button{
      position: absolute;
      text-align: right;
      padding-right: 0;
      margin-right: -10px;
    }
    #skills{
      position: absolute;
      left: 20%;
      margin-top: 1%;
      font-weight: 700;
    }
  }
  .close-btn-c {
    text-align: right;
  }
}

@media only screen and (min-width : 360px) {
  #congrats {
    h4 {
      font-size: 1.1em;
    }
    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
    a, a:visited, a:active {
      font-size: 1.2em;
    }
    button {
      font-size: 1em;
      padding: 1rem;
    }
    .trophy-c {
      width: 70%;
    }
  }
  #share-story-overlay, #congrats-share-overlay {
    .inner {
      width: 340px;
    }
    .icon-c, .close-btn-c {
      width: 20px;
    }
    .title-text-c {
      width: 260px;
    }
  }
}

@media only screen and (min-width : 768px) {
  #congrats {
    .row {
      margin-top: 15%;
    }
    .trophy-c {
      width: 100%;
    }
    .inner-c {
      width: 32%;
      min-width: 320px;
      display: inline-block;
      vertical-align: middle;
    }
    button {
      padding: 1rem 2rem;
    }
  }
  #share-story-overlay, #congrats-share-overlay {
    .inner {
      top: 56%;
    }
  }
}

@media only screen and (max-width : 768px) {
  #congrats {
    margin-top: 10%;
  }
}






@media only screen and (max-width: 640px) {

  #congrats-share-overlay {
    background: #E96768;
    .tile-ctnr{
      position: absolute;
      width: 100%;
      height: 25%;
      top: 15%;
          text-shadow: 0 2px 2px rgba(0,0,0,.3);
      -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.3);
      .tile{
        position: relative;
        width: 30%;
        min-width: 300px;
        height: 100%;
        margin: 0 auto;
        background: #E96768;
        border-radius: 15px;
        color: white;
        text-align: center;
        button#x-btn-close-share-overlay{
          position: absolute;
          z-index: 10;
          right: 0;
          top: 0;
          background: none;
          padding: 3px 10px 3px 10px;
          font-size: 25px;
          font-weight: 700;
        }
        .title{
          padding-top: 2.5%;
          font-size: 2.3vw;
          font-weight: 700;
        }
        .url{
          font-size: 2vw;
          border: 2px solid white;
          padding-top: 2%;
          padding-bottom: 1%;
          width: 70%;
          margin: 0 auto;
          margin-top: 5%;
          border-radius: 5px;
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;     /* NEW - Chrome */
          display: flex;
          flex-direction: row;
          flex-wrap: no-wrap;
          .mail{
            width: 15%;
            padding-left: 2%;
            svg{
              width: 100%;
              height: 100%;
            }
          }
          .link{
            width: 85%;

          }
        }
        .social-media-row{
          display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;     /* NEW - Chrome */
          display: flex;
          flex-direction: row;
          flex-wrap: no-wrap;
          margin-top: 6%;
          .twitter{
            width: 50%;
            padding-top: 1%;
            text-align: right;
          }
          .facebook{
            width: 50%;
            text-align: left;
            padding-left: 8%;
          }
        }
      }
    }
  }

  #share-story-overlay, #congrats-share-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,.4);
    &.show {
      display: block;
    }
    .inner {
      border-radius: 10px;
      padding: 10px;
      position: absolute;
      top: 35%;
      width: 300px;
      margin-top: -25%;
      left: 50%;
      margin-left: -150px;
    }
    .top-section {
      margin-bottom: 10px;
      >div {
        display: inline-block;
        vertical-align: top;
      }
    }
    .icon-c, .close-btn-c {
      width: 20px;
      color: white;
    }
    .title-text-c {
      width: 100%;
      font-size: .8em;
      color: white;
      line-height: 1;
      padding:0;
      button{
        position: absolute;
        text-align: right;
        padding-right: 0;
        margin-right: -10px;
      }
      #skills{
        position: absolute;
        left: 20%;
        margin-top: 1%;
        font-weight: 700;
      }
    }
    .close-btn-c {
      text-align: right;
    }
  }
}











@media only screen and (max-width : 450px) {
  #congrats {
    margin-top: -13px;
    .inner-c{
      h3.main-question{
        font-size: 7vw;
      }
    }
  }
  #congrats-share-overlay {
    background: #E96768;
    .tile-ctnr{
      position: absolute;
      width: 100%;
      height: 25%;
      top: 15%;
          text-shadow: 0 2px 2px rgba(0,0,0,.3);
      -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.3);
      .tile{
        position: relative;
        width: 30%;
        min-width: 300px;
        height: 100%;
        margin: 0 auto;
        background: #E96768;
        border-radius: 15px;
        color: white;
        text-align: center;
        button#x-btn-close-share-overlay{
          position: absolute;
          z-index: 10;
          right: 0;
          top: 0;
          background: none;
          padding: 3px 10px 3px 10px;
          font-size: 25px;
          font-weight: 700;
        }
        .title{
          padding-top: 2.5%;
          font-size: 3.5vw;
          font-weight: 700;
        }
        .url{
          font-size: 3vw;
          border: 2px solid white;
          padding-top: 2%;
          padding-bottom: 0%;
          width: 70%;
          margin: 0 auto;
          margin-top: 5%;
          border-radius: 5px;
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;     /* NEW - Chrome */
          display: flex;
          flex-direction: row;
          flex-wrap: no-wrap;
          .mail{
            width: 15%;
            padding-left: 2%;
            svg{
              width: 120%;
              height: 120%;
            }
          }
          .link{
            width: 85%;

          }
        }
        .social-media-row{
          display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;     /* NEW - Chrome */
          display: flex;
          flex-direction: row;
          flex-wrap: no-wrap;
          margin-top: 2%;
          .twitter{
            width: 50%;
            padding-top: 1.4%;
            text-align: right;
          }
          .facebook{
            width: 50%;
            text-align: left;
            padding-left: 8%;
          }
        }
      }
    }
  }

  #share-story-overlay, #congrats-share-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 51;
    background: rgba(0,0,0,.4);
    .inner {
      width: 340px;
    }
    .icon-c, .close-btn-c {
      width: 20px;
    }
    .title-text-c {
      width: 260px;
      text-align: center;
    }
  }
}