#dash {
	position: fixed;
	z-index: 30;
	bottom:0;
	width: 100%;
	height: 225px;
}

#dash-left {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 150px;
	margin-top: 75px;
	margin-left: 0;
	background-color: rgba(255, 255, 255, 0.9);
}

#dash-right {
	position: fixed;
	bottom:0;
	right: 0;
	width: 40%;
	height: 150px;
	margin-top: 75px;
	background-color: rgba(255, 255, 255, 0.9);
}

#dash-middle {
	position: fixed;
	bottom: 0;
	left: 40%;
	right: 40%;
	width: 20%;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.9);
	
}




