#icons-small-screen {
	display: none;
}

.icon {
	cursor: pointer;
	z-index: 6;
	position: relative;
}

#drop-box {
	height: 300px;
	width: 400px;
	background-color: white;
	border-radius: 40px;
	#title {
		color: #78D2EA;
		text-align: center;
		padding-top: 30px;
		font-size: 20px;
	}
	#dotted-circle-row {
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		height: 76px;
		width: 260px;
		#circle-1 {
			display: inline-block;
			height: 76px;
			width: 76px;
			margin-right: 10px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
		}
		#circle-2 {
			display: inline-block;
			height: 76px;
			width: 76px;
			margin-right: 10px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
		}
		#circle-3 {
			display: inline-block;
			height: 76px;
			width: 76px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
		}
	}

	#icon-place-holder-row {
		position: absolute;
		z-index: 5;
		height: 76px;
		width: 257px;
		bottom: 115px;
		left: 82px;
		.remove-icon {
			cursor: pointer;
			position: relative;
			height: 30px;
			width: 30px;
			top: -90px;
			left: 60px;
		}
		#holder-1 {	
			display: inline-block;
			height: 76px;
			width: 76px;
			margin-right: 10px;
			padding: 0;
		}
		#holder-2 {
			display: inline-block;
			height: 76px;
			width: 76px;
			margin-right: 9px;
		}
		#holder-3 {
			display: inline-block;
			height: 76px;
			width: 76px;
		}
	}
	.submit-row {
		margin-top: 30px;
		text-align: center;
		#icon-submit {
			cursor: pointer;
			width: 150px; 
			height: 50px; 
			text-align: center;
			font-size: 20px;
			background-color: #079BED;
			margin-top: 10px;
			margin-right: auto;
			margin-left: auto;
			padding-top: 12px;
			border-radius: 10px;
			bottom: 0px;
			color: white;
		}
	}

	#icon-submit:hover, #icon-submit:active {
		background-color: #24B7EA;
	}
}

#icon-box {
	right: 15%;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	#icon-web {
		height: 300px;
		width: 300px;
		padding-top: 0px;
		margin-right: auto;
		margin-left: auto;
	}
	.remove-icon {
		position: relative;
		top: -90px;
		left: 60px;
		z-index: 6;
	}
	#dog {
		position: absolute;
		z-index: 6;
		top: 0;
	}
	#couch {
		position: absolute;
		z-index: 6;
		margin-left: 22.5%;
		top: 0
	}
	#family {
		position: absolute;
		z-index: 6;
		top: 0;
		margin-left: 44.5%;
	}
	#computer {
		position: absolute;
		z-index: 6; 
		top: 105px;
	}
	#food {
		position: absolute;
		z-index: 6;
		margin-left: 22.5%; 
		top: 105px;
	}
	#wifi {
		position: absolute;
		z-index: 6;
		top: 105px;
		margin-left: 44.5%;
	}
	#parking {
		position: absolute;
		z-index: 6;
		top: 215px;
	}
	#exit {
		position: absolute;
		z-index: 6;
		top: 215px;
		margin-left: 22%;
	}
	#help-desk {
		position: absolute;
		z-index: 6;
		top: 215px;
		margin-left: 44.5%;
	}
}

#icon-pop-up {
	position: absolute; 
	z-index: 20;
	top: 0px; 
	left: 15%; 
	border-radius: 40px; 
	height: 300px; 
	width: 400px; 
	background-color: white;
	#icon-description {
		width: 300px;
		text-align: center;
		color: #78D2EA;
		font-size: 20px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
	}
	#choice-row {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		#yea {
			cursor: pointer;
			display: inline-block;
			width: 76px;
			height: 76px;
			margin-right: 43px;
		}
		#nah {
			cursor: pointer;
			display: inline-block;
			width: 76px;
			height: 76px;
			border-radius: 100%;
		}
	}
}



@media screen and (max-width: 640px) and (min-width: 0px) {
	#icons-large-screen {
		display: none;
	}
	#icons-small-screen {
		display: block;
	}

	.icon {
		height: 60px;
		width: 60px;
		svg {
			height: 60px;
			width: 60px;
		}
		.remove-icon {
			height: 20px;
			width: 20px;
			position: relative;
			bottom: 65px;
			left: 40px;
			svg {
				height: 20px;
				width: 20px;
			}
		}
	}

	#holder-and-description-row {
		width: 280px; 
		height: 105px;
		margin-top: 20px;
		margin-left: auto;
		margin-bottom: 5px; 
		margin-right: auto;
		background-color: white;
		border-radius: 20px;
		padding-top: 10px;
		#icon-holder-description {
			width: 280px;
			margin-left: auto;
			margin-right: auto;
			color: #78D2EA;
			text-align: center;
			font-size: 20px;
		}
		#circle-1 {
			position: relative;
			height: 55px;
			width: 55px;
			bottom: 7px;
			right: 10px;
			padding-top: 13px;
			padding-left: 17px;
			margin-top: 12px;
			margin-left: 22px;
			margin-right: 40px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
			div#1.icon-holder{
				margin-left: 20px;
			}
		}
		#circle-2 {
			position: relative;
			bottom: 62px;
			left: 115px;
			padding-top: 13px;
			padding-left: 17px;
			height: 55px;
			width: 55px;
			margin-right: 35px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
		}
		#circle-3 {
			position: relative;
			bottom: 117px;
			left: 212px;
			padding-top: 13px;
			padding-left: 17px;
			height: 55px;
			width: 55px;
			border-radius: 100%;
			border: 2px dotted #78D2EA;
			color: #78D2EA;
			font-size: 35px;
		}
		#holder-1-small {
			position: absolute;	
			top: -4px;
			left: -5px; 
			height: 55px;
			width: 55px;
		}
		#holder-2-small {
			position: absolute;	
			top: -4px;
			left: -5px; 
			height: 55px;
			width: 55px;
		}
		#holder-3-small {
			position: absolute;	
			top: -4px;
			left: -5px; 
			height: 55px;
			width: 55px;
		}
	}
	#icon-box-small {
		display: block;
		width: 300px; 
		height: 300px;
		margin-left: auto; 
		margin-right: auto;
		#dog {
			width: 76px;
			height: 76px;
			position: relative;
			// bottom: 248px;
			left: 20px;
		}
		#couch {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 77px;
			left: 123px;
		}
		#family {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 153px;
			left: 220px;
		}
		#computer {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 145px;
			left: 20px;
		}
		#food {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 220px;
			left: 123px;
		}
		#wifi {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 297px;
			left: 220px;
		}
		#parking {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 290px;
			left: 20px;
		}
		#exit {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 366px;
			left: 122px;
		}
		#help-desk {
			width: 76px;
			height: 76px;
			position: relative;
			bottom: 442px;
			left: 220px;
		}
		
	}

	#icon-pop-up-small {
		position: relative; 
		bottom: 860px;
		z-index: 10;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px; 
		height: 200px; 
		width: 280px; 
		background-color: white;
		opacity: 0.9;
		#icon-description-small {
			width: 300px;
			text-align: center;
			color: #78D2EA;
			font-size: 20px;
			margin-top: 190px;
			padding-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		#choice-row {
			width: 250px;
			margin-left: 40px;
			margin-right: auto;
			margin-top: 30px;
			#yea-small {
				cursor: pointer;
				display: inline-block;
				width: 76px;
				height: 76px;
				margin-right: 43px;
			}
			#nah-small {
				cursor: pointer;
				display: inline-block;
				width: 76px;
				height: 76px;
				border-radius: 100%;
			}
		}
	}
	.submit-row {
		position: absolute;
		z-index: 10;
		text-align: center;
		#icon-submit {
			cursor: pointer;
			width: 150px; 
			height: 50px; 
			text-align: center;
			font-size: 20px;
			background-color: #079BED;
			margin-right: auto;
			margin-left: auto;
			padding-top: 12px;
			border-radius: 10px;
			bottom: 0px;
			color: white;
		}
	}
}


