#last-question-set{
	overflow: hidden;
	#question-set-1{
		.btn-wrapper{
			text-align: center;
			button.question-1-btn{
				background: none;
				outline: none;
				width: 50%;
				padding: 3% 0 3% 0;
				border: 3px solid #E0BF42;
				box-shadow: -2px 4px 7px rgba(0,0,0,.3);
				text-shadow: -1px 2px 2px rgba(0,0,0,.6);
				border-radius: 200px;
				color: white;
				font-size: 1.5vw;
				font-weight: 700;
				&:hover{
					background-color: #E0BF42;
				}
				&.selected{
					background-color: #E0BF42;
				}
			}
			button.question-1-btn-other{
				background: none;
				outline: none;
				width: 50%;
				padding: 3% 0 3% 0;
				border: 3px solid #E0BF42;
				box-shadow: -2px 4px 7px rgba(0,0,0,.3);
				text-shadow: -1px 2px 2px rgba(0,0,0,.6);
				border-radius: 200px;
				color: white;
				font-size: 1.5vw;
				font-weight: 700;
				&:hover{
					background-color: #E0BF42;
				}
				.selected{
					background-color: #E0BF42;
				}
			}
		}
		.free-form-popup{
			display: none;
			position: absolute;
			top: 20%;
			left:0;
			width: 100%;
			.free-form-bg{
				position: relative;
				margin: 0 auto;
				width: 70%;
				max-width: 600px;
				min-width: 300px;
				text-align: center;
				padding: 20px;
				border-radius: 20px;
				background-color: white;
				textarea{
					resize: none;
					border-radius: 10px 10px 0 0;
				}
				.flextainer{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					.item-1{
						order: 1;
						padding: 5px;
						width: 50%;
						#char-count-last-questions{
							font-size: 1.5vw;
							margin-top: 3%;
						}
					}
					.item-2{
						order: 2;
						width: 25%;
						padding: 5px;
						button{
							width: 100%;
							background: none;
							outline: none;
							background-color: #E0BF42;
							border-radius: 5px;
							font-size: 1.6vw;
						}
					}
					.item-3{
						order: 3;
						width: 25%;
						padding: 5px;
						button{
							width:100%;
							background: none;
							outline: none;
							background-color: #A4A4A4;
							border-radius: 5px;
							font-size: 1.6vw;
						}
					}
				}
			}
		}
	}
	#question-set-2{
		.btn-wrapper{
			text-align: center;
			button.question-2-btn{
				background: none;
				outline: none;
				width: 50%;
				padding: 3% 0 3% 0;
				border: 3px solid #0682C7;
				border-radius: 200px;
				color: #0682C7;
				box-shadow: -2px 4px 7px rgba(0,0,0,.3);
				text-shadow: -1px 2px 2px rgba(0,0,0,.3);
				font-size: 1.5vw;
				font-weight: 700;
				&:hover{
					background-color: #0682C7;
					color: white;
				}
				&.selected{
					background-color: #0682C7;
					color: white;
				}
			}
		}
	}
	#question-set-3{
		.btn-wrapper{
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 80%;
			button.question-3-btn{
				flex-grow: 1;
				width: 50%;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				background: none;
				outline: none;
				width: 50%;
				padding: 3% 0 3% 0;
				border: 3px solid  #D43737;
				border-radius: 200px;
				color: #D43737;
				box-shadow: -2px 4px 7px rgba(0,0,0,.3);
				text-shadow: -1px 2px 2px rgba(0,0,0,.3);
				font-size: 1.5vw;
				font-weight: 700;
				&:hover{
					background-color:  #D43737;
					color: white;
				}
				&.selected{
					background-color:  #D43737;
					color: white;
				}
			}
			#btn-0{
				order: 1;
			}
			#btn-1{
				order: 2;
			}
			#btn-2{
				order: 3;
			}
			#btn-3{
				order: 4;
			}
			#btn-4{
				order: 5;
			}
			#btn-5{
				order: 6;
			}
			#btn-6{
				order: 7;
				flex-grow: 0;
			}
		}
		.finish-wrapper{
			text-align: center;
			width: 100%;
			button.finish-lawa{
				outline: none;
				display: none;
				position: relative;
				margin: 0 auto;
				background: none;
				background-color: #EE4444;
				font-size: 20px;
				width: 30%;
			}
		}
	}
}




@media only screen and (max-width: 640px){
	#last-question-set{
		#question-set-1{
			.btn-wrapper{
				button.question-1-btn{
					width: 80%;
					padding: 5% 0 5% 0;
					font-size: 3vw;
				}
				button.question-1-btn-other{
					width: 80%;
					padding: 5% 0 5% 0;
					font-size: 3vw;
				}
			}
			.free-form-popup{
				display: none;
				position: absolute;
				top: 12%;
				left:0;
				width: 100%;
				.free-form-bg{
					position: relative;
					margin: 0 auto;
					width: 70%;
					max-width: 600px;
					min-width: 300px;
					text-align: center;
					padding: 10px;
					border-radius: 20px;
					background-color: white;
					textarea{
						resize: none;
						border-radius: 10px 10px 0 0;
					}
					.flextainer{
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						.item-1{
							order: 1;
							padding: 5px;
							width: 40%;
							#char-count-last-questions{
								font-size: 3vw;
								margin-top: 3%;
							}
						}
						.item-2{
							order: 2;
							width: 30%;
							padding: 5px;
							button{
								width: 100%;
								padding: 30% 15% 30% 15%;
								margin-right: 10%;
								background: none;
								outline: none;
								background-color: #E0BF42;
								border-radius: 5px;
								font-size: 4vw;
								margin-bottom: 0;
								padding: 15px;
							}
						}
						.item-3{
							order: 3;
							width: 30%;
							padding: 5px;
							button{
								width:100%;
								padding: 30% 15% 30% 15%;
								margin-left: 10%;
								background: none;
								outline: none;
								background-color: #A4A4A4;
								border-radius: 5px;
								font-size: 4vw;
								margin-bottom: 0;
								padding: 15px;
							}
						}
					}
				}
			}
		}
		#question-set-2{
			.btn-wrapper{
				button.question-2-btn{
					width: 80%;
					border: 2px solid #0682C7;
					padding: 4.5% 0 4.5% 0;
					font-size: 4.2vw;
				}
			}
		}
		#question-set-3{
			.btn-wrapper{
				position: relative;
				margin: 0 auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 80%;
				button.question-3-btn{
					flex-grow: 1;
					width: 50%;
					position: relative;
					margin-left: auto;
					margin-right: auto;
					background: none;
					outline: none;
					width: 50%;
					padding: 3% 0 3% 0;
					// -
					border: 2px solid  #D43737;
					border-radius: 200px;
					color: #D43737;
					box-shadow: -2px 4px 7px rgba(0,0,0,.3);
					text-shadow: -1px 2px 2px rgba(0,0,0,.3);
					// -
					font-size: 5vw;
					font-weight: 700;
					&:hover{
						background-color:  #D43737;
						color: white;
					}
					&.selected{
						background-color:  #D43737;
						color: white;
					}
				}
				#btn-0{
					order: 1;
				}
				#btn-1{
					order: 2;
				}
				#btn-2{
					order: 3;
				}
				#btn-3{
					order: 4;
				}
				#btn-4{
					order: 5;
				}
				#btn-5{
					order: 6;
				}
				#btn-6{
					order: 7;
					flex-grow: 0;
				}
			}
			.finish-wrapper{
				text-align: center;
				width: 100%;
				button.finish-lawa{
					outline: none;
					display: none;
					position: relative;
					margin: 0 auto;
					background: none;
					background-color: #EE4444;
					font-size: 20px;
					width: 40%;
				}
			}
		}
	}
}






