.free-form-popup{
	display: none;
	position: absolute;
	top: 20%;
	left:0;
	width: 100%;
	.free-form-bg{
		position: relative;
		margin: 0 auto;
		width: 70%;
		max-width: 600px;
		min-width: 300px;
		text-align: center;
		padding: 20px;
		border-radius: 20px;
		background-color: white;
		textarea{
			resize: none;
			border-radius: 10px 10px 0 0;
		}
		.flextainer{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			.item-1{
				order: 1;
				padding: 5px;
				width: 50%;
				#char-count-last-questions{
					font-size: 1.5vw;
					margin-top: 3%;
				}
			}
			.item-2{
				order: 2;
				width: 25%;
				padding: 5px;
			}
			.item-3{
				order: 3;
				width: 25%;
				padding: 5px;
			}
		}
	}
}

#last-question-set{
	overflow: hidden;
}
.last-questions {
	cursor: pointer;
}

.question-wrapper-1{
	border: 3px solid #E0BF42;
}

.question-wrapper-1{
	padding-bottom: 7%; 
	width: 100%; 
	border-radius: 100px;
}

.question-wrapper-2{
	padding-bottom: 5%; 
	width: 100%; 
	border-radius: 100px;	
}

.question-wrapper-1-other{
	padding-bottom: 7%; 
	width: 100%; 
	border-radius: 100px;
}

.question-wrapper-1:hover,
.question-wrapper-1-other:hover{
	background-color: #E0BF42;
}

.question-wrapper-1-other{
	border: 3px solid #E0BF42;
}
.question-wrapper-2{
	border: 3px solid #0682C7;
}
.question-text-2 {
	color: white;
	padding-top: 5%;
}
.question-wrapper-2:hover {
	background-color: #0682C7;
	.question-text-2 {
		color: white;
	}
}
.question-wrapper-3 {
	padding-bottom: 10%; 
	border: 3px solid #D43737; 
	border-radius: 100px;
	cursor: pointer;
}

.q-3-text {
	font-weight: 700;
}

.question-wrapper-3:hover {
	background-color: #D43737;
	.q-3-text {
		color: white;
	}
}

.q3-clicked{
	background-color: #D43737;
	.q-3-text {
		color: white;
	}
}

.question-text {
	color: white;
	text-align: center;
	margin-top: 5%;
}
.question-text-2 {
	color: #0682C7;
	text-align: center;
}

#q0,
#q2,
#q4 {
	position: absolute; 
	width: 92%; 
	margin-top: 6%;
}

#q1,
#q3 {
	position: absolute; 
	width: 94%; 
	margin-top: 5%;
}

#q0-2,
#q2-2,
#q4-2 {
	position: absolute; 
	width: 94%; 
	margin-top: 5%;
}

#q1-2,
#q3-2 {
	position: absolute; 
	width: 92%; 
	margin-top: 6%;
}

.q-3-text {
	position: absolute; 
	width: 100%; 
	top: 25%; 
	left: 0; 
	text-align: center; 
	color: #D43737;
}

#last-questions-other-container {
	position: relative; 
	// bottom: 500px;
	z-index: 1; 
	margin-top: -40%;
	width: 80%; 
	max-width: 500px;
	height: 200px; 
	margin-left: auto; 
	margin-right: auto; 
	border-radius: 40px;
	background-color: white;
}

#last-other-cancel{
	text-align: center; 
	width: 100%; 
	padding: 10px; 
	color: white;
	background-color: #B5B5B5; 
	border-radius: 5px; 
	cursor: pointer;
	font-size: 1.5vw;
}

#last-other-save {
	text-align: center; 
	width: 100%; 
	padding: 10px; 
	color: white; 
	background-color: #E0BF42; 
	border-radius: 5px; 
	cursor:pointer;
	font-size: 1.5vw;
}

.next#last-question-set{
	cursor: pointer;
	position: relative; 
	padding: 10px; 
	width: 70%; 
	color: white; 
	font-size: 20px;
	margin-left: auto; 
	margin-right: auto; 
	background-color: #EE4444;
}

@media screen and (max-width: 640px) {
	.free-form-popup{
		.free-form-bg{
			.flextainer{
				.item-1{
					#char-count-last-questions{
						font-size: 3vw;
					}
				}
			}
		}
	}
	#last-other-cancel{
		cursor: pointer;
		font-size: 3vw;
	}

	#last-other-save {
		cursor: pointer;
		font-size: 3vw;
	}
	.question-text {
		font-size: 3vw;
	}
}

@media screen and (max-width: 400px) {
	.free-form-popup{
		.free-form-bg{
			padding: 10px;
			.flextainer{
				.item-1{
					#char-count-last-questions{
						font-size: 3.2vw;
					}
				}
			}
		}
	}
	#last-other-cancel{
		font-size: 3.2vw;
	}

	#last-other-save {
		font-size: 3.2vw;
	}
	.question-text {
		font-size: 3.5vw;
	}
}




