[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// hide testing controls in production
body.env-production {
	.testing-controls { display: none; }
	// &.env-development {
	// 	.testing-controls { display: block; }
	// }
}

body, html,button,pre {
	font-family: 'Quicksand', sans-serif;
	&.blue {
		background: #82D3EF;
	}
	&.purple {
		// purple sky...?
		background: #A3CAFF;
	}
	&.green {
		// parking lot
		background: #A0E1CB;
		svg.bg{
			width: 100%;
			height: 100%;
			z-index: -2;
			position: absolute;
			bottom: 0;
		}
		#cloud-5{
			display: none;
		}
	}
	&.orange {
		// buildings
		background: #EFC9B4;
		svg.bg{
			width: 100%;
			height: 100%;
			z-index: -2;
			position: absolute;
			bottom: 0;
		}
		#cloud-5{
			display: none;
		}
	}
}

.skip{
	cursor: pointer;
	position: absolute;
	z-index: 100;
	right: 0;
	top: 0;
	width: 5%;
	min-width: 50px;
	padding:0;
	svg{
		width: 100%;
		height: 100%;
	}
}

h1{
	color: white;
	text-shadow: 0 3px 5px rgba(0,0,0,.5);
	font-weight: 700;
	text-align:center;
}

h3.main-question{
	color: white;
	text-shadow: 0 3px 5px rgba(0,0,0,.5);
	font-weight: 700;
	text-align: center;
	font-size: 3vw;
	width: 100%;
}
h3{
	color: white;
	text-shadow: 0 3px 5px rgba(0,0,0,.5);
	font-weight: 700;
	text-align: center;
	width: 100%;
}

.sub-header{
	text-align: center;
	color: #079BED;
	padding-top: 0;
	font-weight: 700;
}

.btcf:after {
  content:"";
  display:table;
  clear:both;
}

.dIB { display: inline-block; }
.vAM { vertical-align: middle; }
.vAT { vertical-align: top; }

.next {
	display: none;
	position: absolute;
}

#skip-button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	height: 50px;
	width: 120px;
	right: 0;
	margin-top: 4%;
	margin-left: auto;
	margin-right: 4%;
	svg {
		cursor: pointer;
	}

}

#toggle-questions {
	position: absolute;
	z-index: 50;
	cursor: pointer;
	font-size: 5px;
	width: 50px;
	height: 30px;
	padding: 5px 5px 10px 0;
	text-align: center;
	background-color: #079BED;
	color: white;
}

.slide {
	display: none;
	&.current {
		display: block;
	}
}


@media only screen and (max-width : 640px) {
	h3.main-question{
		color: white;
		text-shadow: 0 0 10px rgba(0,0,0,.3);
		font-weight: 700;
		text-align: center;
		font-size: 4vw;
		width: 100%;
	}
}

@media only screen and (max-width : 400px) {
	h3.main-question{
		color: white;
		text-shadow: 0 0 10px rgba(0,0,0,.3);
		font-weight: 700;
		text-align: center;
		font-size: 5vw;
		width: 100%;
	}
}
