#mission-intro {
  // background: #83D6EF;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 25;
  #envelope {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    margin-top: -47%;
    svg {
      width: 94%;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .content {
    width: 300px;
    margin: 0 auto;
    margin-top: -40px;
    height: 100%;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
  }
  h4, p {
    text-shadow: 0 0 5px rgba(0,0,0,.4);
  }
  h4 {
    color: white;
  }
  p {
    font-size: 1.2em;
    width: 95%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.1;
  }
  button {
    outline: none;
  }
  .mission-conditions-heading {
    display: none;
  }
  &.stage-2 {
    #mission-selection-box {
      #accept-mission-btn .accept-text, .stage-1 {
        display: none;
      }
      #accept-mission-btn .continue-text {
        display: inline;
      }
      .stage-2-top {
        display: block;
      }
    }
    .mission-heading {
      display: none;
    }
    .mission-conditions-heading {
      display: block;
    }
  }
}
#mission-selection-box {
  -moz-box-shadow: 0 0 20px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,.3);
  box-shadow: 0 0 20px rgba(0,0,0,.3);
  background: white;
  margin-top: 20px;
  overflow: hidden;
  .continue-text, .stage-2-top {
    display: none;
  }
  .top-content {
    padding: 20px 0;
  }
  .nav-left, .nav-right {
    display: block;
    position: absolute;
    background: #31BAE8;
    color: white;
    padding: 10px;
    height: 50px;
    width: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: 32%;
    z-index: 2;
  }
  .nav-left {
    right: 59%;
    .nav-arrow{
      margin-top: 5px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid white;
      border-bottom: 10px solid transparent;
    }
  }
  .nav-right {
    left: 59%;
    .nav-arrow{
      margin-top: 5px;
      margin-left: 20px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid white;
      border-bottom: 10px solid transparent;
    }
  }
  .chat-bubble {
    color: #3CBDE9;
    border: 1px solid #3CBDE9;
    background: white;
    width: 80%;
    margin: 15px auto 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
    font-size: 1.4em;
    font-weight: 300;
    position: relative;
    &:before, &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom: 0;
    }
    &:before {
      bottom: -14px;
      left: 50%;
      margin-left: -14px;
      border-top-color: #3CBDE9;
      border-width: 13px 14px 10px 14px;
    }
    &:after {
      bottom: -13px;
      left: 50%;
      margin-left: -14px;
      border-top-color: white;
      border-width: 13px 14px 10px 14px;
    }
  }
  #bottom-info {
    width: 80%;
    background: #4086C2;
    margin: 30px auto 0;
    padding: 10px 0;
    font-size: 1em;
    letter-spacing: .8px;
    font-weight: 300;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-top: 0;
    }
    &:before {
      top: -10px;
      left: 50%;
      margin-left: -20px;
      border-bottom-color: #4086C2;
      border-width: 20px 20px 10px 20px;
    }
    .number {
      font-size: 1.6em;
      font-weight: 400;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  #accept-mission-btn {
    width: 100%;
    margin-bottom: 0;
    font-size: 1.2em;
    background: #F23F48;
  }
  .destinations {
    padding: 10px 0;
    background: #31BAE8;
    .left-side, .right-side {
      display: inline-block;
      vertical-align: middle;
      width: 28%;
    }
    .right-side {
      padding-left: 16px;
    }
    .center {
      width: 20%;
      display: inline-block;
      vertical-align: middle;
    }
    .left-side, .right-side {
      text-align: left;
    }
    .airport-heading, .flight-number, .airport-name {
      font-size: .7em;
    }
    .airport-code {
      font-size: 2em;
    }
  }
  .conditions {
    padding: 20px 10px;
  }
  .traffic-label {
    text-transform: capitalize;
  }
  .traffic-meter {
    >div {
      height: 40px;
      width: 28px;
      background: #EBECED;
      display: inline-block;
    }
    &.low {
      .tally-1 { background: rgba(93,98,168,.3); }
      .tally-2 { background: rgba(93,98,168,.6); }
      .tally-3 { background: rgba(93,98,168,.8); }
    }
    &.medium {
      .tally-1 { background: rgba(93,98,168,.3); }
      .tally-2 { background: rgba(93,98,168,.5); }
      .tally-3 { background: rgba(93,98,168,.6); }
      .tally-4 { background: rgba(93,98,168,.8); }
      .tally-5 { background: rgba(93,98,168,.9); }
    }
    &.high {
      .tally-1 { background: rgba(93,98,168,.3); }
      .tally-2 { background: rgba(93,98,168,.4); }
      .tally-3 { background: rgba(93,98,168,.5); }
      .tally-4 { background: rgba(93,98,168,.6); }
      .tally-5 { background: rgba(93,98,168,.7); }
      .tally-6 { background: rgba(93,98,168,.8); }
      .tally-7 { background: rgba(93,98,168,.9); }
      .tally-8 { background: rgba(93,98,168,1); }
    }
  }
  .traffic-summary {
    color: #5C5D5D;
    font-size: .8em;
    font-weight: 600;
    span {
      color: rgba(93,98,168,1);
    }
  }
  .time-summary {
    >div {
      width: 90%;
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      position: relative;
    }
    .gray-bg {
      width: 75%;
      position: absolute;
      left: 0;
      top: 16px;
      height: 102px;
      background: #F2F2F2;
      -moz-border-radius-topleft: 50px;
      -moz-border-radius-bottomleft: 50px;
      -webkit-border-top-left-radius: 50px;
      -webkit-border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      z-index: 1;
    }
    .stopwatch {
      width: 48%;
      position: relative;
      z-index: 2;
    }
    .blurb {
      font-size: 1.3em;
      width: 45%;
      color: #60D0EB;
      font-weight: 600;
      position: relative;
      z-index: 2;
      left: 10px;
    }
    .time-till-arrival {
      position: absolute;
      z-index: 3;
      font-size: 2.4em;
      width: 56px;
      display: block;
      text-align: center;
      height: 24px;
      margin-top: -15px;
      top: 50%;
      right: 38px;
      .unit {
        font-size: .6em;
      }
    }
  }
}
#mission-carousel {
  height: 156px;
  top: -10px;
  position: relative;
  overflow: hidden;
  .mover {
    position: absolute;
    width: 76px;
    &.moving {
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
    }
    svg{
      -webkit-transform: scale(1.6);
      -moz-transform: scale(1.6);
      -ms-transform: scale(1.6);
      -o-transform: scale(1.6);
      transform: scale(1.6);
    }
  }
  .far-left-side {
    -webkit-transform: translate3d(-130px,50%,0);
    -moz-transform: translate3d(-130px,50%,0);
    -ms-transform: translate3d(-130px,50%,0);
    -o-transform: translate3d(-130px,50%,0);
    transform: translate3d(-130px,50%,0);
  }
  .left-side {
    -webkit-transform: translate3d(-36px,50%,0);
    -moz-transform: translate3d(-36px,50%,0);
    -ms-transform: translate3d(-36px,50%,0);
    -o-transform: translate3d(-36px,50%,0);
    transform: translate3d(-36px,50%,0);
  }
  .center {
    -webkit-transform: translate3d(112px,50%,0);
    -moz-transform: translate3d(112px,50%,0);
    -ms-transform: translate3d(112px,50%,0);
    -o-transform: translate3d(112px,50%,0);
    transform: translate3d(112px,50%,0);
    z-index: 3;
  }
  .right-side {
    -webkit-transform: translate3d(262px,50%,0);
    -moz-transform: translate3d(262px,50%,0);
    -ms-transform: translate3d(262px,50%,0);
    -o-transform: translate3d(262px,50%,0);
    transform: translate3d(262px,50%,0);
  }
  .far-right-side {
    -webkit-transform: translate3d(400px,50%,0);
    -moz-transform: translate3d(400px,50%,0);
    -ms-transform: translate3d(400px,50%,0);
    -o-transform: translate3d(400px,50%,0);
    transform: translate3d(400px,50%,0);
  }
  .blurb {
    position: absolute;
    width: 150%;
    text-align: center;
    color: #494848;
    top: 125%;
    font-weight: 500;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    .number {
      font-size: 1.8em;
      font-weight: 500;
      color: #31BAE8;
    }
  }
}

@media only screen and (min-width : 360px) { //Android
  #mission-intro {
    h4 {
      margin-top: 14%;
    }
  }
  #mission-selection-box .chat-bubble {
    margin-bottom: 30px;
  }
  #mission-carousel {
    height: 200px;
    .far-left-side {
      -webkit-transform: translate3d(-130px,70%,0);
      -moz-transform: translate3d(-130px,70%,0);
      -ms-transform: translate3d(-130px,70%,0);
      -o-transform: translate3d(-130px,70%,0);
      transform: translate3d(-130px,70%,0);
    }
    .left-side {
      -webkit-transform: translate3d(-36px,70%,0);
      -moz-transform: translate3d(-36px,70%,0);
      -ms-transform: translate3d(-36px,70%,0);
      -o-transform: translate3d(-36px,70%,0);
      transform: translate3d(-36px,70%,0);
    }
    .center {
      -webkit-transform: translate3d(112px,70%,0);
      -moz-transform: translate3d(112px,70%,0);
      -ms-transform: translate3d(112px,70%,0);
      -o-transform: translate3d(112px,70%,0);
      transform: translate3d(112px,70%,0);
      z-index: 3;
    }
    .right-side {
      -webkit-transform: translate3d(262px,70%,0);
      -moz-transform: translate3d(262px,70%,0);
      -ms-transform: translate3d(262px,70%,0);
      -o-transform: translate3d(262px,70%,0);
      transform: translate3d(262px,70%,0);
    }
    .far-right-side {
      -webkit-transform: translate3d(400px,70%,0);
      -moz-transform: translate3d(400px,70%,0);
      -ms-transform: translate3d(400px,70%,0);
      -o-transform: translate3d(400px,70%,0);
      transform: translate3d(400px,70%,0);
    }
  }
}

@media only screen and (min-width : 375px) { //iPhone 6
  #mission-intro {
    h4 {
      margin-top: 20%;
    }
  }
}

@media only screen and (min-width : 414px) { //iPhone 6 Plus
  #mission-intro {
    h4 {
      margin-top: 30%;
    }
  }
}
@media only screen and (min-width : 768px) { //iPhone 6 Plus
  #mission-intro #envelope {
    display: block;
  }
}