#mission-intro{
  h1{
    color: white;
  }

  h4{
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
  }

  .stage-container{
    position: absolute; left: 50%;
    .container-contents{
      position: relative; left: -50%;
    }
  }

  #intro-phone{
    svg {
      width: 650px;
      height: 650px;
    }
  }

  #stage-1{
    position: absolute; 
    left: 50%;

    #txt-msg-container{
      width: 330px; 
      text-align: center; 
      margin-top: 90px; 
      background-color: white; 
      border: 1px solid black;
    }

    #txt-bbl-content{
      #recieved-txt{
        background-color: #E5E5EA; 
        text-align: left;
        width: 60%; 
        font-size: 13px; 
        margin-top: 1%; 
        margin-bottom: 5%; 
        margin-left: 5%; 
        border-radius: 10px; 
        padding: 10px; 
        font-weight: 700;
      }

      #recieved-txt:before {
         content:"";
         position: absolute;
         right: 95%;
         top: 300px;
         width: 0;
         height: 0;
         border-top: 10px solid transparent;
         border-right: 13px solid #E5E5EA;
         border-bottom: 10px solid transparent;
      }

      #sent-txt {
        background-color: #49B9FB; 
        width: 55%; 
        border-radius: 10px; 
        margin-left: auto; 
        margin-right: 5%; 
        color: white; 
        font-size: 13px; 
        margin-bottom: 3%
      }

      #sent-txt:before {
        content:"";
        position: absolute;
        left: 94.5%;
        top: 363px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 10px solid #49B9FB;
        border-bottom: 7px solid transparent;
      }
    }

    #txt-footer-container{
      background-color: #E5E5EA; 
      margin: 0; 
      padding-top: 5%; 
      padding-bottom: 5%;

      #camera-wrapper{
        padding: 3px 0 0 0;
      }

      #phone-txt-input{
        width: 100%; 
        border-radius: 12px; 
        background-color: white; 
        border: 1px solid #85878B; 
        margin-top: 0px;
        color: #85878B; 
        margin-left: 2px;
      }

      #phone-next-btn{
        background-color: #F84048; 
        color: white; 
        border-radius: 5px; 
        padding: 7px 3px 7px 3px; 
        cursor: pointer; 
        margin-right: 3px;
        margin-top: -7px; 
        font-size: 16px;
        margin-bottom: 0;
        -webkit-animation: run-to-car 2s linear infinite;
        -moz-animation: run-to-car 2s linear infinite;
        -o-animation: run-to-car 2s linear infinite;
        -ms-animation: run-to-car 2s linear infinite;
        animation: run-to-car 2s linear infinite;
      }
    }
  }
  
  #stage-2{
    position: relative; 
    width: 330px; 
    margin-left:auto; 
    margin-right:auto; 
    background-color: white; 
    margin-top: 100px;
    border: 1px solid black; 
    #stage-2-header{
      background-color: #00B8E5; 
      color: white; 
      padding: 7px 0 7px 0;

    }
    #stage-2-body{
      #pickup-person{
        svg{
          width: 100px;
          height: 100px;
        }
      }
      #pickup-luggage{
        svg{
          margin-top: -5px;
          width: 110px;
          height: 110px;
        }
      }

      .fast{
        padding: 0;
        svg{
          width: 100%;
          path{
            fill: #00A916;
          }
        } 
      }

      .med{
        padding: 0;
        svg{
          width: 100%;
          path{
            fill: #FF9E00;
          }
        } 
      }

      .slow{
        padding: 0;
        svg{
          width: 100%;
          path{
            fill: #F84048;
          }
        } 
      }

      #fast{
        margin-top: 9px; 
        width: 95%; 
        height: 7px; 
        background-color: #00A916;
      }
      #medium{
        margin-top: 9px; 
        width: 95%; 
        height: 7px; 
        background-color: #FF9E00;
      }
      #slow{
        margin-top: 9px; 
        width: 95%; 
        height: 7px; 
        background-color: red;
      }
    }
    #stage-2-btn{
      background-color: #F84048; 
      color: white; 
      text-align: center; 
      font-size: 25px; 
      font-weight: 700; 
      padding: 20px 0 20px 0; 
      cursor: pointer;
    }
  }


  #stage-3{

    #speeding-bg{
      position: absolute;
      z-index: 0; 
      width: 100%; 
      padding-bottom: 28%; 
      background-color: #A0E1CB; 
      bottom: 0; 
      left: 0;

      #city-bg{
        position:absolute; 
        padding:0;
        margin:0;
        width: 130%; 
        left: 0; 
        top: -18%;
        -webkit-animation: buildings 30s linear infinite;
        -moz-animation: buildings 30s linear infinite;
        -o-animation: buildings 30s linear infinite;
        -ms-animation: buildings 30s linear infinite;
        animation: buildings 30s linear infinite;
        span.building-container{
          padding: 0;
          margin: 0;
          svg{
            width: 10%;
            height: 10%;
          }
        }
      }


      #palm-1{
        position: absolute;
        z-index: 1;
        width: 10%;
        top: -40%;
        right: -10%;
        -webkit-animation: palm-far 3s linear infinite;
        -moz-animation: palm-far 3s linear infinite;
        -o-animation: palm-far 3s linear infinite;
        -ms-animation: palm-far 3s linear infinite;
        animation: palm-far 3s linear infinite;
        svg{
          width: 60%;
          height: 60%;
        }
      }
      #road{
        position: absolute; 
        z-index: 2;
        width: 100%; 
        padding-bottom: 5%; 
        background-color: #A6AEB3; 
        top: 50px;
        #line{
          position: absolute;
          z-index: 3;
          width: 100%;
          padding-bottom: 0.4%;
          top: 35%;;
          background-color: white;
        }
        #speeding-bbl{
          position: absolute;
          z-index: 5;
          width: 100%;
          bottom: 100%;
          background-color: white;
          color: black;
          font-size: 2vw;
          font-weight: 700;
          text-align: center;
          padding: 5%;
          border-radius: 15px;
        }
        #speeding-bbl:before {
           content:"";
           position: absolute;
           right: 50%;
           top: 100%;
           width: 0;
           height: 0;
           border-left: 10px solid transparent;
           border-top: 20px solid white;
           border-right: 10px solid transparent;
        }
        #speeding-car{
          position: absolute;
          z-index: 4;
          top: -35%;
          width: 20%;
          left: -20%;
          -webkit-animation: car-rumble 0.5s infinite;
          -moz-animation: car-rumble 0.5s infinite;
          -o-animation: car-rumble 0.5s infinite;
          -ms-animation: car-rumble 0.5s infinite;
          animation: car-rumble 0.5s infinite;
          svg{
            width: 100%;
          }
        }
        #palm-2{
          position: absolute;
          z-index: 6;
          width: 20%;
          top: -80px;
          right: -20%;
          -webkit-animation: palm-near 0.5s linear infinite;
          -moz-animation: palm-near 0.5s linear infinite;
          -o-animation: palm-near 0.5s linear infinite;
          -ms-animation: palm-near 0.5s linear infinite;
          animation: palm-near 0.5s linear infinite;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      } 
    }
  }

  #stage-4{
    position: relative; 
    width: 330px; 
    margin-left:auto; 
    margin-right:auto; 
    background-color: white; 
    margin-top: 100px;
    border: 1px solid black; 
    #timer-backdrop{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 90%;
      height: 120px;
      background-color: #F2F2F2;
      border-radius: 60px;
      svg {
        position: absolute;
        top: -20px;
        left: 60px;
        width: 120%;
        height: 120%;
      }
      #bd-content{
        #flight-display{
          margin:0; 
          padding-top: 35px; 
          font-size: 20px; 
          font-weight: 700; 
          padding-left: 30px; 
          opacity: 0.6;
        }
      }
      #display-time{
        position: absolute;
        top: 45px;
        left: 140px;
        width: 120px;
        color: white;
        text-align: right;
        span#mn-time{
          padding-right: 5px;
          font-size: 50px;
        }
        span#mn-unit{
          position: absolute;
          margin-top: 20px;
          font-size: 18px;
          top: -15px;
          left: 115px;
        }
      }
    }
    #stage-4-btn{
      margin-top: 40px;
      background-color: #F84048; 
      color: white; 
      text-align: center; 
      font-size: 25px; 
      font-weight: 700; 
      padding: 20px 0 20px 0; 
      cursor: pointer;
    }
  }
}


@-webkit-keyframes run-to-car {
    0%   {background-color: #F84048;}
    25%  {background-color: #FA797F;}
    50%  {background-color: #FB9499;}
    75%  {background-color: #FA797F;}
    100% {background-color: #F84048;}
}
@-moz-keyframes run-to-car {
    0%   {background-color: #F84048;}
    25%  {background-color: #FA797F;}
    50%  {background-color: #FB9499;}
    75%  {background-color: #FA797F;}
    100% {background-color: #F84048;}
}
@-o-keyframes run-to-car {
    0%   {background-color: #F84048;}
    25%  {background-color: #FA797F;}
    50%  {background-color: #FB9499;}
    75%  {background-color: #FA797F;}
    100% {background-color: #F84048;}
}
@-ms-keyframes run-to-car {
    0%   {background-color: #F84048;}
    25%  {background-color: #FA797F;}
    50%  {background-color: #FB9499;}
    75%  {background-color: #FA797F;}
    100% {background-color: #F84048;}
}
@keyframes run-to-car {
    0%   {background-color: #F84048;}
    25%  {background-color: #FA797F;}
    50%  {background-color: #FB9499;}
    75%  {background-color: #FA797F;}
    100% {background-color: #F84048;}
}


@-webkit-keyframes car-race {
  0% {left: -20%;}
  100% {left: 120%;}
}
@-moz-keyframes car-race {
  0% {left: -20%;}
  100% {left: 120%;}
}
@-o-keyframes car-race {
  0% {left: -20%;}
  100% {left: 120%;}
}
@-ms-keyframes car-race {
  0% {left: -20%;}
  100% {left: 120%;}
}
@keyframes car-race {
  0% {left: -20%;}
  100% {left: 120%;}
}


@-webkit-keyframes car-rumble {
  0% {-webkit-transform:rotate(1deg);}
  50% {-webkit-transform:rotate(-1deg);}
  100% {-webkit-transform:rotate(1deg);}
}
@-moz-keyframes car-rumble {
  0% {-webkit-transform:rotate(1deg);}
  50% {-webkit-transform:rotate(-1deg);}
  100% {-webkit-transform:rotate(1deg);}
}
@-o-keyframes car-rumble {
  0% {-webkit-transform:rotate(1deg);}
  50% {-webkit-transform:rotate(-1deg);}
  100% {-webkit-transform:rotate(1deg);}
}
@-ms-keyframes car-rumble {
  0% {-webkit-transform:rotate(1deg);}
  50% {-webkit-transform:rotate(-1deg);}
  100% {-webkit-transform:rotate(1deg);}
}
@keyframes car-rumble {
  0% {-webkit-transform:rotate(1deg);}
  50% {-webkit-transform:rotate(-1deg);}
  100% {-webkit-transform:rotate(1deg);}
}


@-webkit-keyframes palm-near {
  0% {right: -10%;}
  100% {right: 100%;}
}
@-moz-keyframes palm-near {
  0% {right: -10%;}
  100% {right: 100%;}
}
@-o-keyframes palm-near {
  0% {right: -10%;}
  100% {right: 100%;}
}
@-ms-keyframes palm-near {
  0% {right: -10%;}
  100% {right: 100%;}
}
@keyframes palm-near {
  0% {right: -10%;}
  100% {right: 100%;}
}


@-webkit-keyframes palm-far {
  0% {right: -20%;}
  100% {right: 100%;}
}
@-moz-keyframes palm-far {
  0% {right: -20%;}
  100% {right: 100%;}
}
@-o-keyframes palm-far {
  0% {right: -20%;}
  100% {right: 100%;}
}
@-ms-keyframes palm-far {
  0% {right: -20%;}
  100% {right: 100%;}
}
@keyframes palm-far {
  0% {right: -20%;}
  100% {right: 100%;}
}

@-webkit-keyframes buildings {
  0% {left: 0%;}
  100% {left: -30%;}
}
@-moz-keyframes buildings {
  0% {left: 0%;}
  100% {left: -30%;}
}
@-o-keyframes buildings {
  0% {left: 0%;}
  100% {left: -30%;}
}
@-ms-keyframes buildings {
  0% {left: 0%;}
  100% {left: -30%;}
}
@keyframes buildings {
  0% {left: 0%;}
  100% {left: -30%;}
}



@media only screen and (max-width : 400px) { 
  #intro-phone{
    display:none;
  }
  #txt-msg-container,
  #stage-2,
  #stage-4{
    top: -80px;
  }

}

