#why-park-car{

	.parking-bbl{
		cursor: pointer;
		position: relative;
		width: 100%;
		padding-bottom: 30%;
		background-color: white;
		border-radius: 30px;
		margin-top: 20%;
		text-align: center;
		.unchecked{
			position: absolute;
			right: -5%;;
			top: -5%;
			svg{
			width: 45px;
			height: 45px;
			}
		}
		.bbl-icon svg{
			fill: #A0A0A0;
			padding-top: 5%;
			width: 85%;
			height: 85%;
		}
		.bbl-title{
			position: absolute;
			margin-top: -10%;
			width: 100%;
			font-weight: 700;
			padding: 10px;
			color: #A0A0A0;
		}
	}
	.parking-bbl:before {
		content:"";
		position: absolute;
		top: 100%;
		left: 42%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 30px solid white;
	}
	.parking-bbl.other-bbl{
		height: 130px;
	}


	.other-bbl{
		.row{
			margin: 0;
			padding: 0;
		}
		.unchecked{
			position: absolute;
			z-index: 40;
			right: -5%;
			top: -7%;
			svg{
				width: 45px;
				height: 45px;
			}
		} 

		.bbl-icon svg{
			fill: #A0A0A0;
			width: 40%;
			height: 40%;
		}

		.bbl-title{
			text-align: center;
			margin-top: -5px; 
			margin-bottom: 20px;
		}

		textarea{
			display: none;
			position: relative;
			top: 20%;
		}
		.text-counter{
			display: none;
			// position: absolute;
			// top: 60%;
			margin-top: -10px;
			width: 100%;
			text-align: center;
        	color: #A0A0A0;
		}
		.ok-btn{
			cursor: pointer;
			display:none;
			position: relative;
			margin: 0 auto;
			// margin-top: 75%;
			padding: 10px 0;
			width: 150px;
			color: white;
			background-color: #079BED;
		}
		.ok-btn:hover{
			opacity: 0.8;
		}
	}
	.park-btn-next{
		display: none;
		cursor: pointer;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
		border-radius: 5px;
		margin-top: 20%;
		width: 120px;
		padding: 5px 0 5px 0;
		background-color: #079BED;

	}
}



