#why-park-car{
	.unchecked{
		position: absolute;
		z-index: 3;
		right: 0;
		top: 30px;
		svg{
		width: 45px;
		height: 45px;
		}
	}
	.parking-bbl{
		cursor: pointer;
		position: relative;
		width: 100%;
		padding-bottom: 30%;
		background-color: white;
		border-radius: 30px;
		margin-top: 20%;
		text-align: center;

		.bbl-icon svg{
			fill: #A0A0A0;
			padding-top: 5%;
			width: 85%;
			height: 85%;
		}
		.bbl-title{
			position: absolute;
			margin-top: -10%;
			width: 100%;
			font-weight: 700;
			font-size: 1.5vw;
			padding: 10px;
			color: #A0A0A0;
		}
	}
	.parking-bbl:before {
		content:"";
		position: absolute;
		top: 100%;
		left: 42%;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 30px solid white;
	}
	.parking-bbl.other-bbl{
		height: 130px;
	}


	.other-bbl{
		.row{
			margin: 0;
			padding: 0;
		}
		.unchecked{
			position: absolute;
			z-index: 40;
			right: -5%;
			top: -7%;
			svg{
				width: 45px;
				height: 45px;
			}
		} 

		.bbl-icon svg{
			fill: #A0A0A0;
			width: 40%;
			height: 40%;
		}

		.bbl-title{
			text-align: center;
			margin-top: -5px; 
			margin-bottom: 20px;
		}

		input[type="text"], textarea {
			position:absolute;
			top: 0;
			color: black;
			border-radius: 15px 15px 0 0;
			resize: none;
		}
		.text-counter{
			display: none;
			// position: absolute;
			// top: 60%;
			margin-top: -10px;
			width: 100%;
			text-align: center;
        	color: #A0A0A0;
		}
		.ok-btn{
			cursor: pointer;
			display:none;
			position: relative;
			margin: 0 auto;
			margin-top: 22%;
			padding: 10px 0;
			width: 150px;
			color: white;
			background-color: #079BED;
		}
		// .ok-btn:hover{
		// 	opacity: 0.8;
		// }
	}
	.park-btn-next{
		display: none;
		cursor: pointer;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: white;
		// border-radius: 5px;
		margin-top: 5%;
		width: 150px;
		padding: 7px 0 7px 0;
		background-color: #EE4444;

	}
}






@media only screen and (max-width : 640px) { 
	#why-park-car{
		.sub-header{
			font-size: 4vw;
		}
		.row.bbl-top{
			margin-top: -5%;
		}
		.unchecked{
			position: absolute;
			z-index: 3;
			// right: 0;
			top: -5%;
			right: 20%;
			svg{
			width: 30px;
			height: 30px;
			}
		}
		.parking-bbl{
			cursor: pointer;
			position: relative;
			margin: 0 auto;
			margin-bottom: 5%;
			width: 60%;
			padding-bottom: 20%;
			background-color: white;
			border-radius: 20px;
			text-align: center;
			
			.bbl-icon svg{
				fill: #A0A0A0;
				width: 85%;
				height: 85%;
			}
			.bbl-title{
				position: absolute;
				top: 50%;
				width: 100%;
				font-weight: 700;
				font-size: 3vw;
				line-height: 1;
				// padding: 5px;
				padding-top: 15%;
				color: #A0A0A0;
			}
		}
		.parking-bbl:before {
			content:"";
			position: absolute;
			top: 100%;
			left: 42%;
			width: 0;
			height: 0;
			border-left: 0 solid transparent;
			border-right: 0 solid transparent;
			border-top: 0 solid white;
		}
		.parking-bbl.other-bbl{
			height: 130px;
		}


		.other-bbl{

			.row{
				margin: 0;
				padding: 0;
			}
			.unchecked{
				position: absolute;
				z-index: 40;
				right: -5%;
				top: -7%;
				svg{
					width: 45px;
					height: 45px;
				}
			} 
			.bbl-icon svg{
				fill: #A0A0A0;
				width: 50%;
				height: 50%;
			}
			.bbl-title{
				text-align: center;
				margin-top: 0; 
				margin-bottom: 5%;
			}
			input[type="text"], textarea {
				position:absolute;
				top: 0;
				color: black;
				border-radius: 15px 15px 0 0;
				resize: none;
			}
			.text-counter{
				display: none !important;
				margin-top: -10px;
				width: 100%;
				text-align: center;
	        	color: #A0A0A0;
			}
			.ok-btn{
				cursor: pointer;
				display:none;
				position: relative;
				margin: 0 auto;
				margin-top: 30%;
				padding: 10px 0;
				width: 80%;
				color: white;
				background-color: #079BED;
			}
		}
		.park-btn-next{
			display: none;
			cursor: pointer;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color: white;
			border-radius: 5px;
			margin-top: -2%;
			width: 150px;
			padding: 7px 0 7px 0;
			background-color: #EE4444;

		}
	}
}




@media only screen and (max-width : 465px) { 
	#why-park-car{
		.sub-header{
			font-size: 4vw;
		}
		.row.bbl-top{
			margin-top: -5%;
		}
		.unchecked{
			position: absolute;
			z-index: 3;
			// right: 0;
			top: -5%;
			right: 10%;
			svg{
			width: 30px;
			height: 30px;
			}
		}
		.parking-bbl{
			cursor: pointer;
			position: relative;
			margin: 0 auto;
			margin-bottom: 12%;
			width: 90%;
			padding-bottom: 30%;
			background-color: white;
			border-radius: 20px;
			text-align: center;
			
			.bbl-icon svg{
				fill: #A0A0A0;
				width: 85%;
				height: 85%;
			}
			.bbl-title{
				position: absolute;
				top: 50%;
				width: 100%;
				font-weight: 700;
				font-size: 4vw;
				line-height: 1;
				padding: 5px;
				padding-top: 15%;
				color: #A0A0A0;
			}
		}
		.parking-bbl:before {
			content:"";
			position: absolute;
			top: 100%;
			left: 42%;
			width: 0;
			height: 0;
			border-left: 0 solid transparent;
			border-right: 0 solid transparent;
			border-top: 0 solid white;
		}
		.parking-bbl.other-bbl{
			height: 130px;
		}


		.other-bbl{

			.row{
				margin: 0;
				padding: 0;
			}
			.unchecked{
				position: absolute;
				z-index: 40;
				right: -5%;
				top: -7%;
				svg{
					width: 45px;
					height: 45px;
				}
			} 
			.bbl-icon svg{
				fill: #A0A0A0;
				width: 50%;
				height: 50%;
			}
			.bbl-title{
				text-align: center;
				margin-top: 0; 
				margin-bottom: 5%;
			}
			input[type="text"], textarea {
				position:absolute;
				top: 0;
				color: black;
				border-radius: 15px 15px 0 0;
				resize: none;
			}
			.text-counter{
				display: none !important;
				margin-top: -10px;
				width: 100%;
				text-align: center;
	        	color: #A0A0A0;
			}
			.ok-btn{
				cursor: pointer;
				display:none;
				position: relative;
				margin: 0 auto;
				margin-top: 30%;
				padding: 10px 0;
				width: 80%;
				color: white;
				background-color: #079BED;
			}
		}
		.park-btn-next{
			display: none;
			cursor: pointer;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color: white;
			border-radius: 5px;
			margin-top: -4%;
			width: 150px;
			padding: 7px 0 7px 0;
			background-color: #EE4444;

		}
	}
}
