div#phone {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#phone-landscape {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#shop {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#shop-landscape {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#hang-out {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#hang-out-landscape {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#eat {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#eat-landscape {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}	

div#other {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	cursor:pointer;
}

div#other-landscape {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

div#small-other {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


div#phone:hover, div#phone:active,
div#phone-landscape:hover, div#phone-landscape:active {
	#phone-background{
		fill: #EF8E4B;
	}
	#phone-shadow {
		fill: #FC9C52;
	}
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

div#shop:hover, div#shop:active,
div#shop-landscape:hover, div#shop-landscape:active {
	#shop-background{
		fill: #F2A700;
	}
	#shop-shadow {
		fill: #F7C001;
	}
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

div#hang-out:hover, div#hang-out:active,
div#hang-out-landscape:hover, div#hang-out-landscape:active {
	#hang-out-background{
		fill: #3AB1D6;
	}
	#hang-out-shadow {
		fill: #39BAD8;
	}
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
}

div#eat:hover, div#eat:active,
div#eat-landscape:hover, div#eat-landscape:active {
	#eat-background{
		fill: #4983C9;
	}
	#eat-shadow {
		fill: #558AD8;
	}
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

div#other:hover, div#other:active,
div#other-landscape:hover, div#other-landscape:active {
	#other-background{
		fill: #9663C6;
	}
	#other-shadow {
		fill: #AA75D3;
	}
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
}

div#small-other:hover, div#small-other:active {
	#other-background{
		fill: #9663C6;
	}
	#other-shadow {
		fill: #AA75D3;
	}
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
}

#user-text-input {
	display: none;
	width: 100%; 
	height: 125px; 
	background-color: white; 
	border-radius: 15px; 
	padding:0;
}

.arrow-left {
	position:fixed; 
	bottom: 36%;
	left: -15px;
	z-index: 1;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right: 30px solid white; 
}
// END TILES





// MEDIA QUERIES
// @media screen and (min-width: 640px) {
// 	div#tiles-small {
// 		display: none;
// 	}
// }

// @media screen and (max-width: 639px) {
// 	div#tiles-large {
// 		display: none;
// 	}

// 	div#phone,
// 	div#shop,
// 	div#hang-out,
// 	div#eat,
// 	div#other {
// 		width: 100px; 
// 		display: block; 
// 		margin-left: auto; 
// 		margin-right: auto;
// 		padding: 0;
// 	}

// 	div#phone svg {
// 		width: 100px;
// 		height: 100px;
// 	}

// 	div#shop svg {
// 		width: 100px;
// 		height: 100px;
// 	}

// 	div#hang-out svg {
// 		width: 100px;
// 		height: 100px;
// 	}

// 	div#eat svg {
// 		width: 100px;
// 		height: 100px;
// 	}
    
//     div#other svg {
// 		width: 100px;
// 		height: 100px;
// 	}
// }

// @media screen and (max-width: 320px) {

// 	div#question-header {
// 		text-align:center; 
// 		#main {
// 			font-size: 18px; 
// 			color: white;
// 			padding-bottom: 0;	
// 		}
// 		#foot {
// 			font-size: 14px;
// 		}
// 	}

// 	div#parking-lot {
// 		display: none;
// 	}

// 	div.row.small-tile-label {
// 		font-size: 12px;
// 	}	

// 	div#phone,
// 	div#shop,
// 	div#hang-out,
// 	div#eat,
// 	div#other {
// 		width: 90px; 
// 		display: block; 
// 		margin-left: auto; 
// 		margin-right: auto;
// 		padding: 0;
// 	}

// 	div#phone svg {
// 		width: 90px;
// 		height: 90px;
// 	}

// 	div#shop svg {
// 		width: 90px;
// 		height: 90px;
// 	}

// 	div#hang-out svg {
// 		width: 90px;
// 		height: 90px;
// 	}

// 	div#eat svg {
// 		width: 90px;
// 		height: 90px;
// 	}
    
//     div#other svg {
// 		width: 90px;
// 		height: 90px;
// 	}	
// }


// // LANDSCAPE VIEW
// @media screen and (max-width: 480px) {

// }

// @media screen and (max-width: 568px) {

// }

// @media screen and (max-width: 667px) {

// }

// @media screen and (max-width: 736px) {

// }












