#rail-system{ 
  .rail-bg{
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    color: #E79A77;
    background-color: white;
    border-radius: 20px;
    .rail-car-svg{
      position: relative;
      svg{
        position: relative;
        width: 15%;
        height: 15%;
        margin: 0 auto;
      }
    }
    p{
      position: relative;
      margin: 0 auto;
      width: 80%;
      padding: 0.5%;
      font-size: 1.2vw;
    }
    .question{
      font-weight: 700;
      font-size: 1.4vw;
    }
    .rail-answer{
      padding-top: 3%;
      .rail-answer-font{
        color: #6292E8;
        width: 100%;
        left: 0;
        bottom: 38%;
        font-size: 1.8vw;
        font-weight: 900;
        text-shadow: 0 2px 3px rgba(0,0,0,.5);
        z-index: 5;
      }
      .yes{
        color: #937AED;
      }
      svg{
        cursor: pointer;
        width: 40%;
        height: 40%;
      }
      #x-btn-upvote,
      #x-btn-downvote{
        background: none !important;
        outline: none !important;
      }
      .thumbs-down{
        svg {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    #x-btn-rail-system-next{
      cursor: pointer;
      position: relative;
      margin: 0 auto;
      margin-top: 3%;
      background-color: #EE4444;
      font-family: 'Quicksand';
      color: white;
      width: 150px;
      font-size: 20px;
      padding: 5px;
    }
  }
}

@media only screen and (max-width : 700px){
  #rail-system{ 
    .rail-bg{
      p{
        font-size: 2.2vw;
      }
      .question{
        font-size: 2.4vw;
      }
      .rail-answer{
        .rail-answer-font{
          font-size: 2.8vw;
          font-weight: 700;
          z-index: 5;
        }
      }
    }
  }
}

@media only screen and (max-width : 400px){
  #rail-system{ 
    .rail-bg{
      width: 90%;
      .rail-car{
        svg{
          margin-top: 5%;
          width: 30%;
          height: 30%;
        }
      }
      p{
        padding: 2%;
        font-size: 3.1vw;
      }
      .question{
        font-size: 5.1vw;
      }
      .rail-answer{
        .rail-answer-font{
          font-size: 5vw;
        }
        svg{
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}

@media only screen and (max-width : 700px) and (min-width: 400px){
  #rail-system{ 
    .rail-bg{
      p{
        font-size: 2.2vw;
      }
      .question{
        font-size: 2.4vw;
      }
      .rail-answer{
        .rail-answer-font{
          font-size: 2.8vw;
          font-weight: 700;
          z-index: 5;
        }
      }
    }
  }
}
