#spin-button {
	cursor: pointer;
	width: 150px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 12px 15px 12px 15px;
	color: white;
	background-color: red;
}

#try-again {
	width: 240px;
	margin-left: auto;
	margin-right: auto;
	#yup-spinner{
		cursor: pointer;
		display: inline-block;
		margin-left: 30px;
		margin-right: 60px;
		svg {
			height: 60px;
			width: 60px;
		}
	}
	#nope-spinner {
		cursor: pointer;
		display: inline-block;
		svg {
			height: 60px;
			width: 60px;
		}
	}
}

#spin-button::hover {
	opacity: 0.5;
}

#continue-button {
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	text-align: center;
	width: 150px;
	padding: 12px 15px 12px 15px;
	color: white;
	background-color: red;

}

.full {
	-webkit-animation: lot-full 6s;
	-webkit-animation-fill-mode: forwards;
}

.not-full {
	-webkit-animation: lot-not-full 6s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes lot-full {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1642deg);}
}

@-webkit-keyframes lot-not-full {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1597deg);}
}
