.chance-time {
	h1{
		color: white;
	}
	h3 {
		margin-top: -20px;
	}
}

.fail{
	h1{
		color: white;
	}
}

.congrats{
	h1{
		color: white;
	}
}

.spin-button {
	cursor: pointer;
	width: 150px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	padding: 10px 15px 10px 15px;
	color: white;
	background-color: red;
}

.spin-button::hover {
	opacity: 0.5;
}

.wheel#num-1{
	padding: 7px 0 0 0;
}

.wheel#num-2{
	padding: 5px 0 0 0;
}

.fail {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.next#spin-parking-win,
.next#spin-parking-lose,
.next#spin-pickup-win,
.next#spin-pickup-lose {
	display: block;
	position: relative;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	text-align: center;
	width: 200px;
	padding: 10px 15px 10px 15px;
	color: white;
	background-color: red;

}


.spinner-components {
	// margin-top: 10px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	// top: 20%;
}

.trophey {
	text-align: center;
	margin-top: 4%;
	svg {
		width: 100%;
		height: 100%;
	}
}

.failed-spin {
	margin-top:-30px;
	text-align: center;
	svg {
		width: 90%;
		height: 90%;
	}
}

.full {
	-webkit-animation: lot-full 6s;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: lot-full 6s;
	-moz-animation-fill-mode: forwards;

	-ms-animation: lot-full 6s;
	-ms-animation-fill-mode: forwards;

	-o-animation: lot-full 6s;
	-o-animation-fill-mode: forwards;

	animation: lot-full 6s;
	animation-fill-mode: forwards;
}

.not-full {
	-webkit-animation: lot-not-full 6s;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: lot-not-full 6s;
	-moz-animation-fill-mode: forwards;

	-ms-animation: lot-not-full 6s;
	-ms-animation-fill-mode: forwards;

	-o-animation: lot-not-full 6s;
	-o-animation-fill-mode: forwards;

	animation: lot-not-full 6s;
	animation-fill-mode: forwards;
}

.there {
	-webkit-animation: not-missing 6s;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: not-missing 6s;
	-moz-animation-fill-mode: forwards;

	-ms-animation: not-missing 6s;
	-ms-animation-fill-mode: forwards;

	-o-animation: not-missing 6s;
	-o-animation-fill-mode: forwards;

	animation: not-missing 6s;
	animation-fill-mode: forwards;
}

.not-there {
	-webkit-animation: missing 6s;
	-webkit-animation-fill-mode: forwards;

	-moz-animation: missing 6s;
	-moz-animation-fill-mode: forwards;

	-ms-animation: missing 6s;
	-ms-animation-fill-mode: forwards;

	-o-animation: missing 6s;
	-o-animation-fill-mode: forwards;

	animation: missing 6s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes lot-full {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1642deg);}
}

@-webkit-keyframes lot-not-full {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1597deg);}
}

@-moz-keyframes lot-full {
    0%{ -moz-transform: rotate(0deg);}
    100%{ -moz-transform: rotate(1642deg);}
}

@-moz-keyframes lot-not-full {
    0%{ -moz-transform: rotate(0deg);}
    100%{ -moz-transform: rotate(1597deg);}
}

@-ms-keyframes lot-full {
    0%{ -ms-transform: rotate(0deg);}
    100%{ -ms-transform: rotate(1642deg);}
}

@-ms-keyframes lot-not-full {
    0%{ -ms-transform: rotate(0deg);}
    100%{ -ms-transform: rotate(1597deg);}
}

@-o-keyframes lot-full {
    0%{ -o-transform: rotate(0deg);}
    100%{ -o-transform: rotate(1642deg);}
}

@-o-keyframes lot-not-full {
    0%{ -o-transform: rotate(0deg);}
    100%{ -o-transform: rotate(1597deg);}
}

@keyframes lot-full {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(1642deg);}
}

@keyframes lot-not-full {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(1597deg);}
}

@-webkit-keyframes not-missing {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1642deg);}
}

@-webkit-keyframes missing {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(1597deg);}
}

@-moz-keyframes not-missing {
    0%{ -moz-transform: rotate(0deg);}
    100%{ -moz-transform: rotate(1642deg);}
}

@-moz-keyframes missing {
    0%{ -moz-transform: rotate(0deg);}
    100%{ -moz-transform: rotate(1597deg);}
}

@-ms-keyframes not-missing {
    0%{ -ms-transform: rotate(0deg);}
    100%{ -ms-transform: rotate(1642deg);}
}

@-ms-keyframes missing {
    0%{ -ms-transform: rotate(0deg);}
    100%{ -ms-transform: rotate(1597deg);}
}

@-o-keyframes not-missing {
    0%{ -o-transform: rotate(0deg);}
    100%{ -o-transform: rotate(1642deg);}
}

@-o-keyframes missing {
    0%{ -o-transform: rotate(0deg);}
    100%{ -o-transform: rotate(1597deg);}
}

@keyframes not-missing {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(1642deg);}
}

@keyframes missing {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(1597deg);}
}

@media screen and (min-width: 1000px) {
	.spinner-components {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		margin-top: 0;
	}

	.fail {
		margin-bottom: 6%;
	}
}

@media screen and (max-width: 1000px) {
	.continue-btn {
		margin-bottom: 10%;
	}
}




