#splash-page {
	overflow-y: hidden;
	h2{
		color: white;
		text-shadow: 0 3px 5px rgba(0,0,0,.5);
		span{
			font-weight: 700;
		}
	}
}

#start-button {
	cursor: pointer;
	font-size: 25px; 
	color:white; 
	padding: 15px; 
	background-color: #F05759; 
	width: 30%; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 5%;
	margin-bottom: 50px;
}

#splash-page-container {
	position: absolute;
  	left: 0;
	top: 30px;
	width: 100%;
	top: 28%;
}

@media screen and (max-width: 500px) and (min-width: 0px) and (orientation : portrait) {
	#splash-page-container {
		text-align: center;
		position: absolute; 
		margin-left: auto;
		margin-right: auto;
		bottom: -2%;
		right: -50%;
		width: 200%;
	}
}

