#lax-start-cntr{
	position: relative;
	z-index: 30;
	margin: 0 auto;
	width: 35%;
	min-width: 200px;
	button{
		background-color: #F05759;
		font-family: 'Quicksand', sans-serif;
		width: 100%;
		font-size: 3vw;
	}
}
#lax-sub-header{
	color: white;
	font-size: 2vw;
	position: relative;
	margin: 0 auto;
}
#splash-page {
	overflow-y: hidden;
	overflow-x: hidden;
	.splash-ctnr{
		position: absolute;
		width: 100%;
		left: 0;
		bottom: -13%;
		div[ng-include]{
			position: relative;
			margin: 0 auto;	
			svg{
				width: 100%;
				height: 100%;
			}	
		}
	}
}

@media screen and (orientation : portrait) {
	#lax-start-cntr{
		position: relative;
		z-index: 30;
		margin: 0 auto;
		width: 35%;
		min-width: 200px;
		button{
			background-color: #F05759;
			font-family: 'Quicksand', sans-serif;
			width: 100%;
			font-size: 5vw;
		}
	}
	#splash-page {
		overflow-y: hidden;
		overflow-x: hidden;
		.btn-ctnr{
			position: absolute;
			z-index: 50;
			width: 100%;
			left: 0;
			.start-btn{
				cursor: pointer;
				position: relative;
				width: 50%;
				margin: 0 auto;
				color: white;
				background-color: #F05759;
				padding: 15px;
				font-size: 5vw;
			}
		}
		.splash-ctnr{
			position: absolute;
			width: 170%;
			left: -30%;
			bottom: -5%;
			div[ng-include]{
				position: relative;
				margin: 0 auto;	
				svg{
					width: 100%;
					height: 100%;
				}	
			}
		}
	}
}

@media screen and (max-width : 450px) {
	#lax-start-cntr{
		position: relative;
		z-index: 30;
		margin: 0 auto;
		width: 35%;
		min-width: 200px;
		button{
			background-color: #F05759;
			font-family: 'Quicksand', sans-serif;
			width: 100%;
			font-size: 5vw;
			font-weight: 700;
		}
	}
	#splash-page {
		.btn-ctnr{
			position: absolute;
			z-index: 50;
			width: 100%;
			left: 0;
			.start-btn{
				cursor: pointer;
				position: relative;
				width: 70%;
				margin: 0 auto;
				color: white;
				background-color: #F05759;
				padding: 15px;
				font-size: 7vw;
			}
		}
		.splash-ctnr{
			position: absolute;
			width: 200%;
			left: -50%;
			bottom: -5%;
			div[ng-include]{
				position: relative;
				margin: 0 auto;	
				svg{
					width: 100%;
					height: 100%;
				}	
			}
		}
	}
}


