// #person,
// #stop-watch,
// #car-parking,
// #hassle,
// #other-explain {
// 	height: 170px;
// 	width: 160px;
// 	border-radius: 30px;
// 	background-color: white;
// }

.bubble-icon-container {
	padding-top: 10px;
	height: 150px;
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 30px;
	background-color: white;
}

.bubble-icon-container#container-1 {
	margin-top: 20px;
	margin-left: 50%;
	margin-right: auto;
	.unchecked {
		position: absolute;
		z-index: 1;
		width: 70px;
		top: 5px;
		right: 1%;
	}
}

.bubble-icon-container#container-3 {
	margin-top: 20px;
	margin-left: auto;
	margin-right: 50%;
}
.bubble-icon-container#container-4 {
	margin-left: 0;
	margin-right: auto;
}
.bubble-icon-container#container-5 {
	margin-left: auto;
	margin-right: 0;
}

.checkmark {
	position: relative;
	bottom: 80px;
	left: 130px;
}

#person {
	position: relative;
	margin-top: 30%;
	margin-left: 5%;
	margin-right: auto;
}

#stop-watch {
	position: relative;
	bottom: 370px;
	margin-left: 18%;
	margin-right: auto;
}

#car-parking {
	position: relative;
	bottom: 610px;
	margin-left: 42%;
	margin-right: auto;
}

#hassle {
	position: relative;
	bottom: 710px;
	margin-left: 67%;
	margin-right: auto;
}

#other-explain {
	position: relative;
	bottom: 680px;
	margin-left: 79%;
	margin-right: auto;
}

#boxster {
	position: relative;
	bottom: 810px;
	height: 130px;
	width: 350px;
	margin-left: 33%;
}