
#tile-questions{
	.tile-bbl{
		margin-top: 5%;
		text-align: center;

		.tile-checkmark{
			position: absolute;
			right: 22%;
			top: 2%;
		}

		.tile{
			svg {
				cursor: pointer;
				width: 50%;
				height: 50%;
			}	
		}

		#phone svg:hover, #phone svg:active {
			#phone-background{
				fill: #EF8E4B;
			}
			#phone-shadow {
				fill: #FC9C52;
			}
		}

		
		#shop svg:hover, #shop svg:active {
			#shop-background{
				fill: #F2A700;
			}
			#shop-shadow {
				fill: #F7C001;
			}
		}

		
		#hang-out svg:hover, #hang-out svg:active {
			#hang-out-background{
				fill: #3AB1D6;
			}
			#hang-out-shadow {
				fill: #39BAD8;
			}
		}

		
		#eat svg:hover, #eat svg:active {
			#eat-background{
				fill: #4983C9;
			}
			#eat-shadow {
				fill: #558AD8;
			}
		}
	}

	.tile-title{
		text-align: center;
		color: white;
		font-weight: 700;
		text-shadow: 0 0 10px rgba(0,0,0,.3);
	}

	.row{
		text-align: center;
		.tile-next{
			display: none;
			cursor: pointer;
			margin-top: 3%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 5px;
			color: white;
			background-color: #079BED;
		}
	}
}


@media screen and (min-width: 0px) and (max-width: 400px) {
	
	.tile-bbl{
		margin: 0;
		padding: 0;
		.tile-checkmark{
			left: 72%;;
		}
		.tile{
			width: 140%;
			margin-left: -22%;
		}
	}		

}

@media screen and (min-width: 640px) {

	.sub-header{
		margin-bottom: 15%;
	}

}


