#tile-questions{
	h5.sub-header{
		text-shadow: 0 2px 3px rgba(255,255,255,.7);
		-webkit-text-shadow: 0 2px 3px rgba(255,255,255,.7);
		font-size: 2vw;
	}
	.tile-ctnr{
		width: 100%;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		text-align: center;
		.tile{
			margin-left: 1%;
			margin-right: 1%;
			position: relative;
			opacity: 0.6;
			width: 23%;
			.checkmark-ctnr{
				position: absolute;
				top: 0;
				right: 0;
				width: 25%;
				height: 25%;
				svg{
					width: 100%;
					height: 100%;
				}
			}
			.title{
				color: white;
				font-weight: 700;
				font-size: 1.9vw;
				line-height: 1.5;
				text-shadow: 0 1px 5px rgba(0,0,0,1);
				-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.7);
			}
			svg{
				width: 100%;
				height: 100%;
				padding: 10%;
				path{
					cursor: pointer;
				}	
			}
			&.tile-1{
				-webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
				-ms-flex-order: 1;              /* TWEENER - IE 10 */
				-webkit-order: 1;               /* NEW - Chrome */
				order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
				&.selected{
					opacity: 1;
					.checkmark-ctnr{
						svg{
							circle{
								stroke-width: 0;
								fill: #EF8E4B;
							}
							polyline{
								stroke: white;
							}
						}
					}
				}
			}
			&.tile-2{
				-webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-ordinal-group: 2;      /* OLD - Firefox 19- */
				-ms-flex-order: 2;              /* TWEENER - IE 10 */
				-webkit-order: 2;               /* NEW - Chrome */
				order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
				&.selected{
					opacity: 1;
					.checkmark-ctnr{
						svg{
							circle{
								stroke-width: 0;
								fill: #3AB1D6;
							}
							polyline{
								stroke: white;
							}
						}
					}
				}
			}
			&.tile-3{
				-webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
				-ms-flex-order: 3;              /* TWEENER - IE 10 */
				-webkit-order: 3;               /* NEW - Chrome */
				order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
				&.selected{
					opacity: 1;
					.checkmark-ctnr{
						svg{
							circle{
								stroke-width: 0;
								fill: #F2A700;
							}
							polyline{
								stroke: white;
							}
						}
					}
				}
			}
			&.tile-4{
				-webkit-box-ordinal-group: 4;   /* OLD - iOS 6-, Safari 3.1-6 */
				-moz-box-ordinal-group: 4;      /* OLD - Firefox 19- */
				-ms-flex-order: 4;              /* TWEENER - IE 10 */
				-webkit-order: 4;               /* NEW - Chrome */
				order: 4;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
				&.selected{
					opacity: 1;
					.checkmark-ctnr{
						svg{
							circle{
								stroke-width: 0;
								fill: #4983C9;
							}
							polyline{
								stroke: white;
							}
						}
					}
				}
			}
		}
	}
	.btn-row{
		display: none;
		text-align: center;
		top: -3%;
		button{
			background: none;
			outline: none;
			background-color: #F05759;
			padding: 1% 7% 1% 7%;
			font-size: 20px;
			
		}
	}
}

@media screen and (max-width: 640px) {
	#tile-questions{
		h5.sub-header{
			text-shadow: 0 2px 3px rgba(255,255,255,.7);
			-webkit-text-shadow: 0 2px 3px rgba(255,255,255,.7);
			font-size: 3vw;
		}
		.tile-ctnr{
			.tile{
				width:48%;          
				margin-left: 1%;
				margin-right: 1%;
				position: relative;
				opacity: 0.6;
				.checkmark-ctnr{
					position: absolute;
					top: 0;
					right: 15%;
					width: 25%;
					height: 25%;
					svg{
						width: 100%;
						height: 100%;
					}
				}
				.title{
					color: white;
					font-weight: 700;
					font-size: 2.7vw;
					line-height: 1.5;
					text-shadow: 0 1px 5px rgba(0,0,0,1);
					-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.7);
				}
				svg{
					width: 100%;
					height: 100%;
					padding: 2% 25% 0 25%;
					path{
						cursor: pointer;
					}	
				}
				&.tile-1{
					
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #EF8E4B;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-2{
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #3AB1D6;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-3{
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #F2A700;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-4{
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #4983C9;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
			}
		}
		.btn-row{
			display: none;
			text-align: center;
			margin-top: -1%;
			button{
				background: none;
				outline: none;
				background-color: #F05759;
				padding: 1% 7% 1% 7%;
				font-size: 20px;
				
			}
		}
	}	
}


@media screen and (max-width: 460px) {
	#tile-questions{
		h5.sub-header{
			text-shadow: 0 2px 3px rgba(255,255,255,.7);
			-webkit-text-shadow: 0 2px 3px rgba(255,255,255,.7);
			font-size: 3vw;
		}
		.tile-ctnr{
			.tile{

				.checkmark-ctnr{
					position: absolute;
					top: 0;
					right: 14%;
					width: 25%;
					height: 25%;
					svg{
						width: 100%;
						height: 100%;
					}
				}
				.title{
					color: white;
					font-weight: 700;
					font-size: 4vw;
					line-height: 1.2;
					text-shadow: 0 1px 3px rgba(0,0,0,1);
					-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.7);
				}
				svg{
					width: 100%;
					height: 100%;
					padding: 4% 25% 0 25%;
					path{
						cursor: pointer;
					}	
				}
				&.tile-1{
					order: 1;
					-webkit-order: 1;
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #EF8E4B;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-2{
					order: 2;
					-webkit-order: 2;
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #3AB1D6;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-3{
					order: 3;
					-webkit-order: 3;
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #F2A700;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
				&.tile-4{
					order: 4;
					-webkit-order: 4;
					&.selected{
						opacity: 1;
						.checkmark-ctnr{
							svg{
								circle{
									stroke-width: 0;
									fill: #4983C9;
								}
								polyline{
									stroke: white;
								}
							}
						}
					}
				}
			}
		}
		.btn-row{
			display: none;
			text-align: center;
			margin-top: 2%;
			button{
				background: none;
				outline: none;
				background-color: #F05759;
				padding: 1% 7% 1% 7%;
				font-size: 20px;
				
			}
		}
	}	
}


