
#tile-questions{
	h5.sub-header{
		text-shadow: 0 2px 3px rgba(255,255,255,.7);
		-webkit-text-shadow: 0 2px 3px rgba(255,255,255,.7);
	}
	.row.bbl-ctnr{
		.tile-bbl{
			text-align: center;

			.tile-checkmark{
				position: absolute;
				right: 22%;
				// top: 0;
				margin-top: -4%;
	      		z-index: 2;
			}

			.tile{
	      		width: 50%;
	      		position: relative;
	      		margin-left: auto;
	      		margin-right: auto;
	      		text-align: center;
				svg {
					cursor: pointer;
					width: 100%%;
					height: 100%;
				}	
			}

			#phone svg:hover, #phone svg:active {
				#phone-background{
					fill: #EF8E4B;
				}
				#phone-shadow {
					fill: #FC9C52;
				}
			}

			
			#shop svg:hover, #shop svg:active {
				#shop-background{
					fill: #F2A700;
				}
				#shop-shadow {
					fill: #F7C001;
				}
			}

			
			#hang-out svg:hover, #hang-out svg:active {
				#hang-out-background{
					fill: #3AB1D6;
				}
				#hang-out-shadow {
					fill: #39BAD8;
				}
			}

			
			#eat svg:hover, #eat svg:active {
				#eat-background{
					fill: #4983C9;
				}
				#eat-shadow {
					fill: #558AD8;
				}
			}
		}

		.tile-title{
			text-align: center;
			color: white;
			font-size: 1.5vw;
			font-weight: 700;
			text-shadow: 0 2px 3px rgba(0,0,0,.7);
			-webkit-text-shadow: 0 2px 3px rgba(0,0,0,.7);
			margin-bottom: 10%;
			padding: 0 10px 0 10px;
		}
	}
	.btn-ctnr{
		text-align: center;
		position: absolute;
		width: 100%;
		left: 0;
		margin-top: 0%;
		z-index: 5;
		button{
			display: none;
			background: none;
			background-color: #EE4444;
			width: 200px;
			font-size: 20px;
		}
	}
}


// @media screen and (min-width: 0px) and (max-width: 400px) {
	
// 	.tile-bbl{
// 		margin: 0;
// 		padding: 0;
// 		.tile-checkmark{
// 			left: 70%;;
// 		}
// 	}		

// }

@media screen and (max-width: 640px) {
	#tile-questions{
		.row.bbl-ctnr{
			.tile-bbl{
				position: relative;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				.tile-checkmark{
					position: absolute;
					right: 18%;
					top: 2%;
		      		z-index: 2;
		      		svg{
		      			width: 75%;
		      			height: 75%;
		      		}
				}
				.tile{
		      		width: 50%;
		      		position: relative;
		      		margin-left: auto;
		      		margin-right: auto;
		      		text-align: center;
					svg {
						cursor: pointer;
						width: 100%%;
						height: 100%;
					}	
				}

				#phone svg:hover, #phone svg:active {
					#phone-background{
						fill: #EF8E4B;
					}
					#phone-shadow {
						fill: #FC9C52;
					}
				}

				
				#shop svg:hover, #shop svg:active {
					#shop-background{
						fill: #F2A700;
					}
					#shop-shadow {
						fill: #F7C001;
					}
				}

				
				#hang-out svg:hover, #hang-out svg:active {
					#hang-out-background{
						fill: #3AB1D6;
					}
					#hang-out-shadow {
						fill: #39BAD8;
					}
				}

				
				#eat svg:hover, #eat svg:active {
					#eat-background{
						fill: #4983C9;
					}
					#eat-shadow {
						fill: #558AD8;
					}
				}
			}

			.tile-title{
				text-align: center;
				color: white;
				font-size: 3.4vw;
				line-height: 1;
				font-weight: 700;
				text-shadow: 0 2px 3px rgba(0,0,0,.7);
				-webkit-text-shadow: 0 2px 3px rgba(0,0,0,.7);
				margin-bottom: 10%;
			}
		}
		.btn-ctnr{
			text-align: center;
			position: absolute;
			width: 100%;
			left: 0;
			top: 55%;
			margin-top: 15%;
			z-index: 5;
			button{
				display: none;
				background: none;
				background-color: #EE4444;
				width: 50%;
				font-size: 20px;
			}
		}
	}
}


