#time-spent {
  text-align: center;
  .timer-c {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    background-image: image_url('timer_stopwatch.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    color: white;
  }
  .inner {
    position: absolute;
    width: 100%;
    top: 46%;
  }
  .timer-number {
    font-size: 3em;
  }
  h3, h1 {
    color: white;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
  }
  h3:first-child {
    margin-bottom: 0px;
  }
  button {
    font-family: 'Quicksand', sans-serif;
    padding: 6px 0;
    width: 45%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  .give-up-btn {
    background: #EC7173;
  }
  .keep-looking-btn {
    background: #19BAE7;
  }
}

@media only screen and (min-width : 360px) { 
  #time-spent {
    .timer-c {
      height: 250px;
      width: 250px;
    }
    .inner {
      top: 50%;
    }
    .timer-number {
      font-size: 5em;
      height: 48px;
    }
    button {
      padding: 10px 0;
      max-width: 200px;
    }
  }
}

@media only screen and (min-width : 768px) { 
  #time-spent {
    .content-c {
      display: inline-block;
      vertical-align: middle;
      width: 45%;
      max-width: 300px;
    }
    h3:first-child {
      margin-bottom: -30px;
      margin-top: 50px;
    }
    h1 {
      margin-bottom: 30px;
    }
  }
}