.parking-bubble {
	width: 100%; 
	text-align: center;
	padding-bottom: 100%; 
	background-color: white; 
	border-radius: 30px;
	cursor: pointer;
}

.parking-bubble:before {
	content:"";
	position: absolute;
	top: 100%;
	left: 42%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid white;
}

#parking-bubble-other {
	width: 100%; 
	padding-bottom: 45%; 
	background-color: white; 
	border-radius: 30px
}

.parking-bubble-other:before {
	content:"";
	position: absolute;
	top: 100%;
	left: 42%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 30px solid red;
}