#willing-to-wait {
  // margin-top:-2%;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  h3.main-question{
  color: white;
  text-shadow: 0 3px 5px rgba(0,0,0,.5);
  font-weight: 700;
  text-align: center;
  font-size: 3vw;
}
  .timer-c {
    margin: 0 auto;
    position: relative;
    background-image: image_url('timer_stopwatch.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    color: white;
  }
  .inner {
    position: absolute;
    width: 100%;
    top: 46%;
  }
  .timer-number {
    font-size: 3em;
  }
  .content-c {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    max-width: 300px;
  }
  h3 {
    color: white;
    font-weight: 600;
    font-size: 1em;
    width: 90%;
    margin: 8px auto;
  }
  button {
    font-family: 'Quicksand', sans-serif;
    outline: none;
    padding: 6px 0;
    width: 45%;
    background: none;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    &:hover {
      color: white;
    }
  }
  .wait-next-btn, .wait-next-btn:hover {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #EC7173;
    border: none;
    color: white;
  }
  #x-btn-add-wait-time{
    color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid #1CC95C;
    // display: block;
    // position: relative;
    // margin-left: auto;
    // margin-right: auto;
    // // background: #EC7173;
    // border: none;
    // color: white;
  }
  #x-btn-add-wait-time:hover{
    background: #1CC95C;

  }

  #x-btn-remove-wait-time{
    color: white;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid #EB7374;
    // display: block;
    // position: relative;
    // margin-left: auto;
    // margin-right: auto;
    // // background: #EC7173;
    // border: none;
    // color: white;
  }
  #x-btn-remove-wait-time:hover{
    background: #EB7374;

  }

}

// @media only screen and (max-width: 640px){
//   #willing-to-wait{
//     h3.main-question{
//       color: white;
//       text-shadow: 0 3px 5px rgba(0,0,0,.5);
//       font-weight: 700;
//       text-align: center;
//       font-size: 5vw;  
//     }
//   }
// }

@media only screen and (min-width : 360px) { 
  #willing-to-wait {
    .timer-c {
      height: 250px;
      width: 250px;
    }
    .inner {
      top: 50%;
    }
    .timer-number {
      font-size: 5em;
      height: 48px;
    }
    button {
      padding: 10px 0;
      max-width: 200px;
    }
  }
}

// @media only screen and (min-width : 768px) { 
//   #willing-to-wait {
//     .content-c {
//       margin-top: 70px;
//       display: inline-block;
//       vertical-align: middle;
//       width: 45%;
//       max-width: 300px;
//     }
//   }
// }