<div class="error">
  <h1>Whoops!</h1>
  <div class="sub-header">
    <p>Something has gone wrong... Sorry about that, it's not your fault.</p>
    <p>Please try again:</p>
  </div>
  <div>
    <button ng-click="restart()" class="replay-btn">
      <span>Restart</span>
    </button>
  </div>
</div>
