<div ng-controller="NodeCtrl">
  </h1>testing...</h1>
  <div class="current-node-container" style="background-color:white">
    <div ng-if="!currentNode.is_decision_point">
      <div ng-include="'<%= asset_path 'partials/question.html' %>'"></div>
    </div>
    <div ng-if="currentNode.is_decision_point">
      <div ng-include="'<%= asset_path 'partials/decision.html' %>'"></div>
    </div>
  </div>
</div>
