<div ng-controller="NodeCtrl">
  {{ getTemplateName(currentNode.node_id)}}
  <div ng-if="nodeIncludedInWhitelist(currentNode.clean_template_name)">
    <div class="current-node-container" style="background-color:white">
      <div ng-if="!currentNode.is_decision_point">
        <div ng-include="'<%= asset_path 'partials/question.html' %>'"></div>
      </div>
      <div ng-if="currentNode.is_decision_point">
        <div ng-include="'<%= asset_path 'partials/decision.html' %>'"></div>
      </div>
    </div>
    {{ getTemplateName(currentNode.node_id)}}
    {{ variables }}
  </div>
  <div class="row">
    <div ng-include="currentTemplateName">
    </div>
  </div>
</div>
