<div ng-controller="NodeCtrl">
  <div ng-show="!nodeIncludedInWhitelist(getTemplateName(currentNode.node_id))"></div>
  <div class="row">
    <div ng-include="currentTemplateName"></div>
  </div>
  <div ng-show="currentNode.dashboard_type === 'plane'">
    <div ng-include="'<%= asset_path 'partials/dashboard.html' %>'"></div>
  </div>
  <div ng-show="currentNode.dashboard_type === 'car'">
    <div ng-include="'<%= asset_path 'partials/dashboard-car.html' %>'"></div>
  </div>
</div>
